[2019-04-05 09:02] kognise opened #1 "Code, pre, and kbd styles"
We need styles for inline code, inline keyboard shortcuts, and code blocks. This includes the following tags:

- `<code>`
- `<kbd>`
- `<pre>`

Possibly also the following:

- `<samp>`
- `<output>`

Any help would be appreciated!

[2019-04-05 20:41] DanielBiegler commented on #1
Oh neat, been also interested in this kind of bare bones CSS so I guess I might just now contribute.

Lemme check it out. :)

[2019-04-05 21:19] DanielBiegler commented on #1
How about something like this? The "this" is a `<kbd>`, btw.

![image](https://user-images.githubusercontent.com/14810858/55656954-14443b80-57f9-11e9-80e8-9d340de092cc.png)

[2019-04-05 21:45] kylejrp opened #5 "Table styles"
Tables could probably use some default styles.
![image](https://user-images.githubusercontent.com/6742479/55657891-a1af6d80-57b0-11e9-995b-796768344cd8.png)

Here's a list of potential elements to style:
- `table` (The full table)
- `thead` (The header row of a table)
- `tbody` (The body rows of a table)
- `tfoot` (The footer row of a table)
- `tr` (A row of the table)
- `td` (Single cell)
- `th`

[2019-04-05 22:03] DanielBiegler opened #6 "Move light theme to it's own file"
It's pretty hypocritical saying:

But then for using the light theme I need to add a `.light`.

I think for clarity, size and ease of use it would be wise to split light and dark theme to their own files. When I want a light theme, why do I have to load all of the dark theme stylings? That's wasteful.

Splitting in respective files lends itself to creating more themes, for example a more red one,

[2019-04-05 22:16] DanielBiegler opened #7 "Refactor hard coded colors into reusable variables"
This is a must, imo. Since you want to be able to switch some stuff easily for different clients.

CSS vars [aren't supported by all browsers](https://caniuse.com/#search=css%20var) but question is if it's even worth talking about supporting older browsers since this helper lib is just for small PoC stuff.

If support for older stuff is needed one could use [Sass](https://sass-lang.com/) but then

[2019-04-05 22:30] kognise commented on #6
How would this work development-wise? When fixing a style glitch it seems tedious to have to update the code in two files.

[2019-04-05 22:40] kognise commented on #1
Looks great! How is the orange color-contrast wise?

[2019-04-05 22:43] DanielBiegler commented on #6
The themes only differ in color. Develop in one file and after it looks like you want it to look, copy paste it and replace colors. This would work even better with #7

[2019-04-05 23:19] kylejrp commented on #6
I don't think copy and pasting is a great development workflow. It would make more sense to use SASS and some build tools here. The project source would then look something like:
- water.core.scss (containing styles that reference variables)
- water.light.scss (containing only the light theme variables)
- water.dark.scss (containing only the dark theme variables)

The build tools would then output

[2019-04-05 23:35] kylejrp commented on #6
For reference, this is how [Bootstrap's Theming](https://getbootstrap.com/docs/4.3/getting-started/theming/) works. You can take the core Bootstrap styles as is, or you can build your own version by creating a Sass file like this:
[code]

Then, your build tools would output your customized Bootstrap theme.

You wouldn't have to force Water.css end users to install any build tools - this is just mo

[2019-04-06 00:17] kognise commented on #6
This sounds great - but brings up the question of SASS variables or CSS variables?

SASS variables: integrated with the build system, probably smaller bundle size, lets us do fancy things that may or may not be needed.

CSS variables: user theming doesn't need to set up a whole build system, accessible from the page if the user wants addon styles

[2019-04-06 01:18] kylejrp commented on #6
I think CSS variables align more with the "just add water" goal, but you lose IE support. Sass would let us compile to something more compatible with more browsers, but you're right that it would complicate the build system.

Are we worried about theming being accessible from the page? I figure the target audience is people who don't want to touch CSS.

I think it's a decision on making it easy fo

[2019-04-06 02:27] kognise commented on #6
@kylejrp I'm thinking... probably Sass! I want to make good browser compatibility a goal, as well as small bundle sizes.

[2019-04-06 02:34] kognise commented on #6
If we're gonna move the light theme to a different file, though, I wonder how dynamic switching in the demo will work...

[2019-04-06 03:01] kylejrp commented on #6
I think we could just swap it with some javascript. Let me try to get a pull request up and running!

[2019-04-06 07:34] DanielBiegler commented on #6
With Javascript you can dynamically switch stylesheets, that's no problem.

[2019-04-06 22:58] #6 closed

[2019-04-06 22:58] #7 closed

[2019-04-06 23:18] #1 closed

[2019-04-06 23:50] #5 closed

[2019-04-06 23:57] kognise opened #13 "Add blockquotes"
Blockquote styles are probably the next step! These would probably involve a thick left border of sorts which might need it's own Sass variable.

And let's think about whether or not a footer inside a blockquote should be styled differently for citing a source.

If you decide to take this upon yourself, thanks!

[2019-04-07 12:30] jehna opened #16 "Mixed http and https content error on github page"
The website shows "not secure" warning:

<img width="383" alt="Screenshot 2019-04-07 at 15 27 35" src="https://user-images.githubusercontent.com/2676795/55683565-ec182200-5949-11e9-8426-7f63bbaec7ad.png">

And condsole points to the placekitten.com fixed http request:

[code]

[2019-04-07 12:54] #16 closed

[2019-04-07 14:51] locness3 opened #18 "This as a Jekyll theme"
Propose a Jekyll theme based on this for quick repo docs on GitHub Pages

[2019-04-07 19:26] jocap opened #20 "Bookmarklet"
Hi!

I really like the idea of a simple, plug-to-play theme, so I created a simple piece of JavaScript that removes all style sheets and replaces them with water.css (light by default), to be used as a bookmarklet on sites with terrible, unreadable style sheets. It also makes sure that the viewport is setup properly for mobile devices.

Here's the code for the bookmarklet that you can copy:

[code

[2019-04-07 23:54] kylejrp opened #22 "Radio buttons"
Radio buttons don't appear correctly and seem unselectable:
![image](https://user-images.githubusercontent.com/6742479/55691682-8336a700-5955-11e9-9973-838e85492071.png)

Due to these lines:
https://github.com/kognise/water.css/blob/2b4962fc1351aef59d7d7a163c0806a4224a9bc6/src/parts/_forms.scss#L28-L30

[2019-04-08 00:10] FedeAPerez commented on #13
I'd love to participate in this PR, would you mind if I help somehow?

[2019-04-08 01:06] kognise commented on #20
This is awesome! Just fyi, the bookmarklet version doesn't work. This does:

[code]

[2019-04-08 01:08] kognise commented on #22
Good catch! I'll figure out the best course of action that'll result in the smallest file size.

[2019-04-08 01:18] kognise commented on #13
@FedeAPerez What do you think needs improvement?

Maybe refactor it to not use the `$focus` variable? Maybe a `$blockquote` variable could exist. The readme would also have to be updated

[2019-04-08 01:58] kaihendry opened #25 "prefers-color-scheme"
https://developer.apple.com/documentation/safari_release_notes/safari_12_1_release_notes

Be good if you can support Safari media queries so that if a user wants a dark scheme, they would get one. And if a user doesn't, they would get a light theme instead?

[2019-04-08 02:29] kognise commented on #25
I keep getting a billion requests to add this support. Time to think about possible ways to implement it!

[2019-04-08 02:30] kognise commented on #18
Great idea! This is in our todo list as well

[2019-04-08 02:44] JackFly26 opened #27 "Add version picker in demo"
I think it would be a good idea for the demo to have a link to the cdn of the current theme that the page is on. Like when it's on light, the link to the light cdn, and the same for dark.

[2019-04-08 04:39] kognise commented on #27
Or possibly a code block with the code to include the current theme in your website? I'm working on making it less of a demo and more of a landing page

[2019-04-08 04:39] kognise commented on #20
Btw this is an AWESOME idea! It's so useful for making complicated pages simple. This would also make a ncie extension

[2019-04-08 04:57] kylejrp commented on #25
This worked for me in Firefox 67. It defaults to light, unless your browser supports prefers-color-scheme and your preference is also dark:

[code]

Alternatively, for a dark default unless your preference is light:
[code]

We could also do this in Sass, but it would create an extra file that's twice the size. Eg:
[code]

Doing it inside the `<link  />` tag is better because (I think) it saves a n

[2019-04-08 05:55] kaihendry commented on #25
This tact appears to work. Just experimenting with it on my homepage: https://hendry.iki.fi/

It works on Safari on a MBP. Now I am wondering how to tell my IOS phone my preference is dark mode, along with my Archlinux machine's chrome.

[2019-04-08 07:17] jocap commented on #20
Thank you!

And thanks for fixing the bookmarklet. It did work for me in Firefox and iOS Safari.

[2019-04-08 18:57] rahuldottech opened #30 "Support for <details>, <summary>"
[code]
This is some neat HTML code which allows for collapsible/toggle-able content, but it'd be neat if the content within `<p>...</p>` was in a dotted border or something to make it easily distinguishable from the previously already displayed stuff.

[2019-04-08 19:44] rahuldottech opened #31 "Support for <meter>, <progress>"
HTML supports built-in progress bars:

[code]
Support for this stuff too would be cool :)

[2019-04-08 20:00] rahuldottech opened #32 "Support for text-level semantics"
1. `<kbd` and `<code>` should not have the same visual styles
2. Support for `<samp>`
3. Support for `<mark>`
4. Support for `<var>`
5. Support for `<time>`
6. Support for `<small>`
7. Support for `<data>` (?? -- rarely used -- not in w3c spec, but in WHATWG)
8. Support for `<q>`
9. Support for `<cite>`

I'm not sure if the following require custom styling: `<abbr>`, `<dfn>`, `<ruby>`, `<rp>`, `<r

[2019-04-08 22:51] Olliebaba commented on #22
[code]
🙃

[2019-04-09 03:01] kognise commented on #22
@Olliebaba Sorry for my ignorance... what is the `$='x'` syntax?

[2019-04-09 21:12] jonaskuske opened #33 "<h1> heading semantics"
Styling for `<h1>` headings is currently broken, as all `<h1>` headings are forced to have the same font size.

HTML allows you to have multiple `<h1>` elements on a page¹, with one being the main site title and the others being nested e.g. inside `<article>` elements and acting as the main title for the respective article.

Browsers respect this and display nested `<h1>` elements smaller than the

[2019-04-10 00:47] kognise commented on #33
Ooh, I didn't know that! Thanks.

[2019-04-10 00:48] kognise commented on #33
In an article should an h2 be smaller than an h1?

[2019-04-10 01:15] jonaskuske commented on #33
This is what Chrome renders:

![image](https://user-images.githubusercontent.com/30421456/55844604-5e515800-5b3e-11e9-9e82-95cd0eed3d90.png)

Font size of `<h1>` elements is adjusted according to nesting level, other headings keep their initial size.
Though it might be interesting to check out what exactly the spec says here, as browsers deviate from time to time.

But one way or another, I guess

[2019-04-10 01:28] jonaskuske opened #34 "Add button[disabled] styling"
Right now, `<button disabled>` displays like any other button, same opacity, same cursor, same hover styles – no way to see that it's disabled other than clicking on it and wondering why nothing happens.
Some additional styles are necessary here in my opinion. 👀

[2019-04-10 20:36] kylejrp commented on #33
http://scratchpad.io/numberless-flock-8487

For reference, Chrome uses these default styles for the example above:
[code]

[2019-04-10 20:49] jonaskuske commented on #33
Yup, though it doesn't stop there – you can nest all the way down until `font-size` of `<h1>` equals the `font-size` of `<h6>`.

[2019-04-11 04:38] kylejrp commented on #30
MDN has good documentation on the [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) and [`<summary>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary) elements.

They offer good suggestions for [customizing the disclosure widget](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Customizing_the_disclosure_widget).

It mentions having

[2019-04-11 04:44] kylejrp commented on #31
MDN has good documentation for the [`<meter>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter) and [`<progress>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress) elements.

There's a `:indeterminate` pseudo class we'd want to style here as well.

CSS Tricks has a good article called [HTML5 Progress Element](https://css-tricks.com/html5-progress-element/) on how

[2019-04-11 04:47] kylejrp commented on #33
Seems like the best course of action is to set a root font size and let browsers set the correct heading sizes. This would probably require some cross browser testing to make sure that most browsers set some reasonable defaults in both the nested and non-nested cases.

[2019-04-11 05:11] kylejrp opened #36 "Filesize Goal Conflicts"
Hey @kognise! I just wanted to open up a friendly discussion on the filesize goal. I think it's holding water.css from being the best it can be.

One of the water.css goals is:

However, it's come up that adding some new features would increase the file size:
https://github.com/kognise/water.css/issues/32#issuecomment-481253756
https://github.com/kognise/water.css/issues/22#issuecomment-480650691

[2019-04-11 13:07] philsherry commented on #33
Browsers don’t support the document outline algorithm. Plus it's not great for accessibility to have more than one `h1` on the page. For these reasons, I'd advise against this. No changes required.

Read more here: http://adrianroselli.com/2013/12/the-truth-about-truth-about-multiple-h1.html

[2019-04-11 13:43] kognise commented on #36
Totally agreed! This is one of the reasons I haven't been moving on with some of the PRs and issues - I was considering what to do size constraint-wise.

I agree that this is a good proposition. One last thing, though - do you think < 3kb is realistic or should we just drop the entire size constraint like you recommended?

If we go for < 3kb in the future it might get bigger and we don't want to s

[2019-04-11 14:58] kognise commented on #36
test

[2019-04-11 16:30] jonaskuske commented on #33
Huh, you're right! That's too bad – so HTML has no way of writing markup that can be reused without ruining semantics? 😶
Really hope we'll get the generic `<h>` element at some point so we don't have to hard-code heading levels... (until then, [React has your back](https://medium.com/@Heydon/managing-heading-levels-in-design-systems-18be9a746fa3))

This article on CSS tricks gives a great overview

[2019-04-11 16:45] kognise commented on #34
Fixed in #35

[2019-04-11 16:45] kognise commented on #34
Fixed in #35

[2019-04-11 17:30] kognise commented on #33
@jonaskuske @philsherry I'm finally jumping in the conversation - are you suggesting it's probably not very semantic to have multiple `h1`s in a page so we probably shouldn't style them? Sorry if I got it all wrong :stuck_out_tongue:

[2019-04-11 17:52] kognise commented on #36
Mentioning a CDN... multiple people on HN though a CDN for Water.css would be cool. Although that's probably not a good idea right now, it could be a thing to consider in the future and could automate part of the development workflow.

[2019-04-11 18:24] kognise commented on #22
I made some changes! Mind checking out this PR? Thanks. #39

[2019-04-11 18:32] kognise opened #40 "Move to Netlify?"
I'm considering switching to [Netlify](https://www.netlify.com/) for our website. Here are some benefits of doing this:

- Faster deployments of updates to the demo site
- Ultra fast loading (does this matter that much?)
- And, the most important thing at least to me: **deployments of the demo for every pull request**

This way anyone can view someone's new styles without downloading or installing

[2019-04-11 19:22] kylejrp commented on #40
I love it! I'm a big fan of Netlify, let me know if you need a hand with this.

I don't think Netlify will complicate the project too much - it's just sitting "on top" of the project. The deploys would be handled invisibly to users, and we could even integrate the preview links into pull requests.

[2019-04-11 19:25] kylejrp commented on #36
What's the motivation behind having a specific file size listed?

If its performance, the CDN takes 10x as long to start serving a file compared to the time it takes to download the file. (I think it was something like 300ms time to first byte vs 10ms download)

[2019-04-11 19:25] kylejrp commented on #36
(talking about the current CDN, jsdelivr)

[2019-04-11 20:07] kylejrp opened #41 "Publish to npm"
It might be nice to have water.css published to npm with every release. Then, users can install it using `npm install water.css` and include it in their projects without referencing a CDN.

This would mean we would have to update the `package.json` version semantically with every release as well.

[2019-04-11 20:36] kognise commented on #41
Great idea! I'm not that familiar with CSS frameworks being in an NPM package, so I'll research how that works.

On an unrelated note - thanks for all the help and great ideas you've contributed to Water.css. Do you mind if I make you a collaborator on the repo? This way you'll get cool access to more things (and also get nice badge next to your name iirc).

[2019-04-11 20:40] kognise commented on #41
Ok, it seems CSS is usually just included like normal in the static markup at `node_modules/water.css/etc...`. Pretty simple.

[2019-04-11 20:44] kognise commented on #41
So, the `water.css` package name on NPM is available, but here's something that could be better!

The package `water` has one version and was last published 7 years ago by a guy who doesn't contribute to basically anything. It seems to be some very specific code without any documentation that works with something else he's written, but it's obviously not used by anything anymore.

I think it'd be

[2019-04-11 20:56] Ryois commented on #41
Personally I prefer `water.css` as the package name. One is that your github repo's name is water.css, also to get publishing rights to the repo, it has to have not seen any downloads/ activity in the last few months.

[2019-04-11 22:15] kognise commented on #18
This is pretty important but will take some work. Pinning this.

[2019-04-11 22:16] #13 closed

[2019-04-12 01:50] kylejrp commented on #36
Agreed! I did some research on what the community considers to be small.

Here's the sizes after being gzip'd for a bunch of other frameworks that are specifically trying to be small file size ([source](https://www.webfx.com/blog/web-design/small-css-frameworks/)):
![image](https://user-images.githubusercontent.com/6742479/56006167-abd9dc00-5c88-11e9-9650-5d2a298e643d.png)

I think even if we pick

[2019-04-12 01:53] kylejrp commented on #41
Yep, I agree, I'm a bigger fan of `water.css`.

Absolutely, thanks for working with me on all the contributions! I'd love to be a collaborator. Thanks! 🎉

[2019-04-12 01:58] kognise commented on #41
@kylejrp Great, thanks! Yeah, I agree that `water.css` is probably better.

Also, [here](https://github.com/kognise/water.css/invitations)'s an invite link (if GitHub is working :).

[2019-04-12 02:01] kognise commented on #36
@kylejrp Thank you! It's interesting that Bootstrap's CDN is slower than Jsdelivr. Also, I didn't realize Milligram was that big! On their website they advertise "Only 2kb gzipped!", so are you sure that's accurate?

[2019-04-12 03:24] kylejrp commented on #36
You're right - I just tested it and for `milligram.min.css` I got:
`Original size: 8930 bytes Result size: 2278 bytes`

Since I had the gzip calculator open, `water.css` gets:
`Original size: 2549 bytes Result size: 1042 bytes`

I think we're in the clear for a while, especially since compression is on our side as we continue to repeat ourselves in our CSS. 😎

For reference, Milligram's site takes

[2019-04-12 04:11] joshkmartinez commented on #40
I think netlify is great!
I don't think it will complicate the project too much. The preview links I think would be a resource to have (especially since this project is a CSS framework)

[2019-04-12 12:17] philsherry commented on #33
@kognise Short answer: yes.

Longer answer: yes, because we're in the education business and shouldn't make allowances for people doing the wrong thing. If schooled correctly, the correct behaviour will (hopefully) prevail.

[2019-04-12 13:27] kognise commented on #33
And now I'm educated :smile:
Think I should close this?

[2019-04-12 13:43] kognise commented on #40
Ok, I set up the initial Netlify things. [This](https://watercss.netlify.com/) is where the site will now be deployed. Things to still do:

- Update links in readme, etc.
- Setup PR deployments

[2019-04-12 13:45] kognise commented on #40
Actually, everything should be set up! Lemmme make a test PR.

[2019-04-12 13:55] jonaskuske commented on #33
Yep, whether or not this stylesheet should actively educate its users is the question here 😅

* `water.css` acts as an enhancement to default user agent styles, therefore it should be compatible and not break sites that would work if you'd just use UA styles. The browsers are the ones "making allowances" here and `water.css` should just focus on staying in line with browsers

and
* `water.css` sho

[2019-04-12 14:14] kognise commented on #33
I'm gonna be bold and go for the second :ok_hand:

It's almost always similar - if enough people encourage best practices or use a new standard browsers will change to support it. Although Water.css isn't such a big player yet, we can at least start.

Thank you!

[2019-04-12 14:14] #33 closed

[2019-04-12 14:28] #40 closed

[2019-04-12 14:55] kylejrp commented on #33
@jonaskuske @kognise How does this philosophy play with vendor prefixes for vendor specific features? For example, styling scrollbars doesn't have an official specification yet.

I do like choosing the second option though! We've got a lot of semantic HTML contributors.

[2019-04-12 15:21] jonaskuske commented on #33
@kylejrp

While it's no final spec yet, there is a Working Draft for scrollbar styling and it's implemented in Firefox already.
[Spec](https://drafts.csswg.org/css-scrollbars-1/) | [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars)

Other than that, I don't know of a good CSS-only way to style scrollbars, anyhow:
* The `-ms-` options for IE and Edge are non-starters as neither

[2019-04-12 15:34] kylejrp commented on #40
Awesome work! 🎉

[2019-04-12 15:37] kylejrp commented on #40
Should we keep the GitHub Pages deployment up still? I think that's what was linked to from the reddit/HN post, so if we do remove it, we should find a way to provide an automatic redirect.

[2019-04-12 15:44] kylejrp commented on #33
There's already a separate issue for scrollbars (#14) but I'm more concerned with the general case of vendor specific features. The scrollbars are just one example.

What should be our stance for when a vendor implements a new feature without it being in Working Draft or Spec? I'm only finding selectors (eg. [-webkit-text-stroke](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke

[2019-04-12 16:18] kylejrp commented on #25
For fun, I tried combining these both into a new file called `water.sass`:
[code]

While the main size is fairly large, it's really small when gzipped:
` Original size: 6582 bytes Result size: 1576 bytes`

@kognise Do you think this would be a valuable file to have? We could just have people use `water.css` or `water.min.css` and then there's no thoughts to picking a theme. The downside is our mai

[2019-04-12 16:37] kognise commented on #25
@kylejrp At least in my opinion, I would just prefer recommending using the `media` attribute and two link elements. If we *have* to have a file for this I would prefer the `auto.css` approach.

What would you recommend?

[2019-04-12 16:38] kylejrp opened #44 "<address> and links inside"
We can style the `<address>` element, or more specifically, the links inside!

MDN has good documentation:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address

They've put icons before each type of link by using the following selectors:
[code]

We could probably do something more interesting here, but I'm not a great designer and nothing's coming to mind. Any ideas?

[2019-04-12 16:49] kognise commented on #44
I actually quite like this! My only change would be to un-italicize them - is this bad practice?

[code]

[2019-04-12 16:53] kylejrp commented on #25
Again I think this comes down to valuing size vs valuing performance. Despite having a combined file that's larger, it's actually more performant than one with link elements.

Here's the timeline for a combined file:
1. Download `water.css` (~30ms TTFB, ~5ms download)
2. Show page

Here's the timeline for a split out file:
1. Download `auto.css` that uses link elements (30ms TTFB, 1ms download)
2.

[2019-04-12 17:15] kognise commented on #25
@kylejrp I'm sorry, I'm not sure I'm fully understanding - what are steps 1 and two for the split out file?

[2019-04-12 17:37] kylejrp commented on #25
Here's my explanation with --verbose turned on!

1. [0ms] Browser downloads `auto.css` that uses link elements. This takes 30ms to start getting a response from the CDN. The actual download takes ~5ms. The file looks something like this:
[code]
2. [35ms] Browser processes `auto.css`. It realizes it needs to import `dark.css` and `light.css`. It doesn't have these downloaded yet, so it makes two re

[2019-04-12 17:51] kylejrp commented on #25
Although I guess just using this solves the "waiting on the original request" problem:
[code]

[2019-04-12 23:20] jgneff opened #45 "Keep aspect ratio for images with height attribute"
If I add size attributes for the image on the demo page, as shown below, the kitten gets squeezed when its container width is smaller than the image width. The width is changed, but the height remains the same, so the image changes aspect ratios.

[code]

![squashed](https://user-images.githubusercontent.com/1413266/56070374-6bd43100-5d3c-11e9-8c83-f8a3346c259d.png)

But if I add `height: auto` to

[2019-04-13 02:10] kognise commented on #25
Ahhhh. So then 2 link elements is probably the way to go?

[2019-04-14 13:35] kognise commented on #44
I personally prefer ✉️ but it displays differently in some browsers.

[2019-04-14 14:02] colbyfayock opened #47 "Checkbox focus state is offset"
Hey there, I noticed in your demo page the checkbox focus state is skewed. Just a heads up :)

I'm on Chrome Canary Version 75.0.3764.0 (Official Build) canary (64-bit)

![Screen Capture on 2019-04-14 at 10-01-22](https://user-images.githubusercontent.com/1045274/56093918-59710900-5e9c-11e9-9593-00cab683e997.gif)

[2019-04-14 17:43] kylejrp commented on #25
Yeah, I guess so! I was hoping for an all-in-one solution so it would be easy to communicate, but now we have a bunch of options to communicate in the docs:

1. Dark theme only
2. Light theme only
3. Dark theme by default, light theme when prefers-color-scheme: light
4. Light theme by default, dark theme when prefers-color-scheme: dark

I'm not sure what the best way to communicate these choices i

[2019-04-14 17:53] kylejrp commented on #47
@colbyfayock Are you on a Mac?

I'm getting a similarly weird offset on Chrome 73.0.3683.103 for Windows 10:
![image](https://user-images.githubusercontent.com/6742479/56096968-5a596900-5ea3-11e9-92ae-982533ff2ac3.png)

[2019-04-14 17:55] kylejrp commented on #45
This seems to be the exact same way that Bootstrap 4 handles their [responsive images](https://getbootstrap.com/docs/4.0/content/images/#responsive-images) - I think this is an easy pull request.

[2019-04-14 18:51] jgneff commented on #45
Thanks for looking into it. I'll go ahead and submit the pull request.

It used to be considered bad form not to put size attributes on your images, but that seems to have gone out of fashion recently for a couple of reasons:

* They're not supported in general with [GitHub Flavored Markdown](https://guides.github.com/features/mastering-markdown/) nor part of [CommonMark](https://commonmark.org/he

[2019-04-14 19:38] jonaskuske commented on #44
@kognise
I think the icons definitely need to be un-italicized, otherwise they get skewed and it looks weird imo.

But whether we un-italicize the entire address or just the pseudo-elements is personal preference – I have no problem with address text being italic but we can just as well make the whole thing `normal`, both works.

[2019-04-14 20:16] jonaskuske commented on #45
@jgneff

Unfortunately, as soon as you put `height: auto` on them so they keep their aspect ratio, the page will start to jump again. 😕
`width` and `height` are treated as styling, not as information about the image itself, so overriding the image styling in CSS means you lose all the benefits of the fixed, unresponsive dimensions you specify.
The new `intrinsicsize` attribute is supposed to fix t

[2019-04-14 21:17] colbyfayock commented on #47
yup! on a mac. yours looks more like a default browser focus outline 🤔where mine looks custom (it's a circle), though I'm unsure of the specifics beyond the following being computed for a custom focus state

![image](https://user-images.githubusercontent.com/1045274/56099305-2862f980-5ed9-11e9-9616-d17ea3bc009d.png)

[2019-04-14 21:26] colbyfayock commented on #47
could strip the styling similar to the other inputs and do some kind of pseudo for the check 🤷‍♂️

![image](https://user-images.githubusercontent.com/1045274/56099404-76c4c800-5eda-11e9-907a-43b1b61e10f2.png)

[2019-04-14 22:01] jgneff commented on #45
Wow, you're right! Thanks for pointing that out. I just tested it by throttling to "GPRS" speed and checking "Disable cache" in the Network tab of Firefox Web Developer Tools. Read more about the problem at the [intrinsicsize Attribute Explainer](https://github.com/WICG/intrinsicsize-attribute).

So for now, there is no advantage in setting `height: auto`. I'll just have to make my pages load so q

[2019-04-14 22:31] kognise commented on #25
Agreed, there's a communication challenge now. Already I think it's pretty hard to find that there's a light theme on first glance in the docs. I don't have much time now; I'll send some ideas later today.

[2019-04-14 22:32] kognise commented on #44
@jonaskuske Agreed! I un-italicized them in #46

[2019-04-14 22:40] kognise commented on #47
Hmm - I was trying to avoid using custom checkboxes/radio buttons but if we're gonna do it we need to make it blend in as much as possible. Specifically, what should we use for the actual check while keeping download size? I feel like there are a billion different options.

On an unrelated note, in @colbyfayock's screenshot I noticed there's quite a lot less padding than I'm used to seeing with Wa

[2019-04-14 23:14] jonaskuske commented on #45
@jgneff

If you defined `width` and `height` and **only** set `max-width: 100%`, not `height: auto`, it still _"works"_ – the image will scale up to 100%, but keep the defined `height`. So it has a height right from the beginning which prevents layout shift, but the aspect ratio is broken.

That's why there still is an advantage to adding `height: auto` – images with set `width` and `height` will

[2019-04-14 23:22] colbyfayock commented on #47
that was just from me messing around in dev tools

you should be able to create a check, dot, or something using HTML characters (like the bullet I used in my screenshot) or CSS

[2019-04-15 13:22] kognise commented on #47
I found [this](https://www.alt-codes.net/check-mark-symbols.php) with some check mark characters to try. This can't be too hard to implement, but should we implement custom radios as well?

Also, I **swear** at one point there were radios in the demo!

[2019-04-15 13:23] colbyfayock commented on #47
yeah, I'd personally recommend the radio and checkbox have the same base UI with the exception that a radio is a circle and a checkbox is a square to show the intent

[2019-04-15 13:24] kognise commented on #47
:+1:

[2019-04-15 16:58] jgneff commented on #45
Right. I'll let others here decide whether to add the line.

For me, until something like `intrinsicsize` is supported, it doesn't seem worth it to add the image dimensions. I added them only to avoid page jumps while loading, but if you want the images to keep their aspect ratios, the jumps are back. Furthermore, for people using Markdown, dropping the Kramdown-specific dimensions has the advanta

[2019-04-16 13:52] atilacamurca commented on #41
I suggest the use of <https://github.com/sindresorhus/np>, great tool for automate the publish process.

[2019-04-16 14:10] kognise commented on #41
@atilacamurca Yeah, it is a great tool! Although, a lot of what that does we already do, it might not be optimal for this project. I've also had some issues with it in the past.

[2019-04-18 15:43] diomed opened #50 "color schemes"
do you accept color scheme PR's?

[2019-04-18 16:57] kognise commented on #50
Probably! We're considering adding a list of community-made themes.

You might also want to check out #42

[2019-04-18 16:58] #44 closed

[2019-04-18 17:01] #22 closed

[2019-04-18 17:22] kognise commented on #47
Here's what I came up with. I need to add padding underneath the checkbox.

![image](https://user-images.githubusercontent.com/42556441/56379149-0a4d1000-61dd-11e9-9697-228e9c069bca.png)

[2019-04-18 19:14] diomed opened #52 "::selection"
By darkening the background color by 40% we can get a nice background color for selections.

I propose adding something like this:

[code]

[2019-04-18 20:00] kognise commented on #52
I attempted editing your issue to possibly make it more clear - did I grasp what you meant to say correctly?

[2019-04-18 20:16] diomed commented on #52
🔷 yes 🔷

[2019-04-19 16:24] thenathurat opened #55 "Accesibility: the text inside p tags in light theme is *barely* legible"
This is an issue even if this library is used for dead simple html demos.

It has contrast ratio of only 1.61.

[2019-04-19 16:28] thenathurat commented on #55
Same with anchor tags - default setting does not work. What does work, is for example #006900.

By default, the contrast ratio is 1.75.

[2019-04-19 16:41] kylejrp commented on #55
Can you provide a minimal example or a screenshot of what you're seeing? I'm unable to reproduce on the demo page.

Text inside a `<p>` tag is color `#363636` with a background color of `#FFFFFF`, giving a ratio of 12.08.

Text inside a `<a>` tag is color `#0076d1` with a background color of `#FFFFFF`, giving a ratio of 4.65.

What are you seeing on your end?

![image](https://user-images.githubus

[2019-04-19 16:50] thenathurat commented on #55
My goodness...

Yes, I have added water.css to a sample project, however I have forgotten to comment out default styles of another framework. Silly me.

Okay, so with that silly mistake gone, you are totally right, text inside paragraphs is easily legible and so is inside anchor tags. What could be fixed however, is that everything could be styled to comply with the higher, AAA, standard.

Current

[2019-04-19 17:13] kylejrp opened #56 "Accessibility Compliance"
We should pick a specific level of accessibility and make sure all of our components meet that level of accessibility.

Steps:
- Choose between AA and AAA accessibility
- Add an accessibility checker to our gulp build tools and/or pull requests
- Make sure each CSS component complies with our accessibility checks
- Make sure the demo page complies with our accessibility checks before merging
- Add

[2019-04-19 17:14] kylejrp commented on #55
Hah, I know I've done the same thing before. No worries!

Great feedback on accessibility - I've opened up #56 and I'll close this issue.

[2019-04-19 17:14] #55 closed

[2019-04-20 14:55] IL4Miy opened #57 "Style of <select>"
I really love the library ❤️ but I think the `<select>` tag needs some adjustment.
It is hard to see a difference to a simple button.
<img width="540" alt="Bildschirmfoto 2019-04-20 um 16 47 05" src="https://user-images.githubusercontent.com/6071634/56458911-c6990880-638c-11e9-97b2-9e7861f48a9c.png">

Maybe an inline `svg` can be added to show that it is a `<select>`.
[code]

Something like this l

[2019-04-20 15:19] IL4Miy commented on #57
Hmm, with this approach it looks weird when selecting the longest word from the options.

[2019-04-20 15:37] kylejrp commented on #57
Would you be able to make a pull request for this? This looks great!

@kognise might have some style recommendations in the pull request

[2019-04-20 17:15] kimulaco opened #59 "<code> overlaps other lines"
When `<code>` is adjacent to `<code>` in a different line, the background color will overlap.
This is also true for `<code>` in `<li>`.
I looking at Google Chrome.

![](https://user-images.githubusercontent.com/11986753/56460246-adb74400-63da-11e9-98b5-0810da3e0c41.png)

If you consider this markup, I think it is better to adjust `line-height`, `padding`, `margin`, etc...

[2019-04-20 21:36] kognise commented on #59
I've noticed that and it's quite annoying - I'll get to fixing that write away!

[2019-04-20 23:27] kylejrp opened #61 "Switch Theme button doesn't work in IE11"
The switch theme button on the demo page doesn't work in IE11. I'm not seeing any bugs in the console, but this is definitely coming from the code in `script.js`.

It looks like it could just be the arrow function used on the first line.
https://github.com/kognise/water.css/blob/f7ae16ada312eea8640f5b9a2f10ebc3a7bea5d1/script.js#L1

Caniuse mentions that it isn't supported in IE11:
https://caniuse

[2019-04-21 04:37] kimulaco commented on #59
Thanks!
In addition, I am sorry that I am different from the this issue.
When using `<code>` in `<table>`, the background color will overlap and it will not be visible in `<code>`.

![](https://user-images.githubusercontent.com/11986753/56465546-31544d80-643a-11e9-86c2-17c58b190511.png)

It may be safer to rethink the design of the code as a whole.

[2019-04-21 07:50] chinanf-boy commented on #41
I think the simple  `package.json` template of css file is [the normalize.css - package.json](https://github.com/necolas/normalize.css/blob/master/package.json)

[code]

[2019-04-21 13:02] kognise commented on #59
Or possibly rethink the design of the table.

[2019-04-21 15:52] kylejrp commented on #59
Maybe light lines instead of dark? Or only show the background lines on hover?

[2019-04-21 17:34] kognise commented on #59
Or possibly just a lighter highlight color - we could either create a new variable or `lighten`/`transparentize` the current color (I believe it's `$background-alt`)

[2019-04-22 01:51] kimulaco commented on #59
I think that the same color as `$button-hover` may be used for `tr:nth-child(even)`.(we need to think about variable names)

[2019-04-22 03:35] pawptart commented on #61
It looks like you hit the nail on the head! The arrow function wasn't compatible with IE. I updated it to a regular anonymous function and have it working in IE & Chrome.

I'll go ahead and submit a PR.

[2019-04-22 04:56] #61 closed

[2019-04-22 17:57] kognise commented on #36
Ok, I'm finally taking a look at this now.

[2019-04-22 21:06] kognise commented on #36
@kylejrp Okay, I started a PR with some changes in #63

[2019-04-22 22:18] kognise commented on #56
Ok, so I'll start working on this. We should keep the following in mind as well.

[2019-04-22 23:49] kylejrp commented on #56
Awesome, thanks @kognise!

I don't think it's super unreasonable to meet AAA here since water.css is pretty small in scope. We'd just have to be cognizant of things like font sizes and colors.

Here's [Bootstrap's opinion on accessibility](https://getbootstrap.com/docs/4.1/getting-started/accessibility/) - I think it's a good philosophy:

We can't stop people from writing inaccessable content, but

[2019-04-27 21:04] kognise commented on #41
@chinanf-boy Thanks! I made some changes over in #42.

[2019-04-28 13:47] co16353sidak commented on #52
Would love to work on this @kognise if it is available for external contributors 🥇

[2019-04-28 14:42] kognise commented on #52
@co16353sidak Thanks! Feel free to work on this :smile:

[2019-04-28 19:21] diomed commented on #52
damn. I thought this is it, and that it's gonna be released in this version. :|

[2019-04-28 19:22] co16353sidak commented on #52
@kognise @diomed Will work on this, and send up a PR as quickly as possible 🥇

[2019-04-28 19:26] diomed commented on #52
@co16353sidak isn't  this just copy-pasting above code in existing css?

tho you could I guess make one for light theme.

[2019-04-28 19:34] co16353sidak commented on #52
@diomed  basically there is a use of `scss` which is later compiled to `css`
so this will be added to the `scss` which will then compile down to css for the same.

as for the code, more or less yes I will be starting with your suggestion above. let's see how it looks.

[2019-04-28 19:44] co16353sidak commented on #52
@kognise

what would be more suitable here would be to design two selection colours each for dark and light mode, instead of using the darken function explicitly.

because while darken works good for light theme but for the dark theme a lighter selection colour would seem more suitable.
the addition of two selection colours can therefore allow the usage of these colour variables for each theme.

c

[2019-04-28 19:55] co16353sidak commented on #52
@kognise
How about these:

<img width="521" alt="Screenshot 2019-04-29 at 1 25 21 AM" src="https://user-images.githubusercontent.com/35738138/56869377-a9fc7080-6a1d-11e9-93f0-729be13a768c.png">
<img width="515" alt="Screenshot 2019-04-29 at 1 20 26 AM" src="https://user-images.githubusercontent.com/35738138/56869330-0d39d300-6a1d-11e9-8dfa-0187c4379953.png">

[2019-04-28 20:12] kognise commented on #52
@co16353sidak Those look great! I'm away from my computer right now, but I'm curious - how would the highlight look with bright colors instead of grayscale?

[2019-04-28 20:14] diomed commented on #52
I don't like gray for white one at all

I'd go with baby blue https://www.colorhexa.com/89cff0

or lavender

[2019-04-28 20:14] co16353sidak commented on #52
we are not really using any colour palette as such in water.css, these selection colours are as of now just darker or lighter variations of the `background-alt` colour

[2019-04-28 20:29] kognise commented on #52
Either way I'd recommend making a `$selection` variable for the selection color. We'll have to remember to put that in the readme.

If you've already done this, sorry. I'm only on my phone right now.

[2019-04-28 20:31] co16353sidak commented on #52
@kognise already made a `$selection` variable, just waiting on colour finalisation from your end. 😃

[2019-04-28 20:35] diomed commented on #52
pls dont let it be plain gray :|

[2019-04-29 08:54] diomed commented on #52
can we get this going?

[2019-04-29 10:19] kylejrp commented on #52
@co16353sidak Thanks for for your help on this issue! We appreciate your contribution.

@diomed Thanks for logging this issue. We're fast with releases and we appreciate any specific contributions or suggrstions you have. It's important to be patient and professional towards other contributors while this issue it's worked on - especially since this issue it's marked as a "good first issue".

@kogn

[2019-04-29 11:35] diomed commented on #52
he did ask for color advice for color to put on white

[2019-04-29 13:57] kognise commented on #52
I can try some things! [This](http://www.flatuicolorpicker.com/) is also a super useful website for this kind of thing.

[2019-04-29 14:00] co16353sidak commented on #52
@kognise @kylejrp
Any colour we do choose, will be the standard that will be used for every selection job, so that is why I was not hasty in sending a PR right away but instead wanted to discuss the colour scheme first.
I feel that the mods here are authorised enough to take such a decision here.

[2019-04-29 20:16] diomed commented on #52
white theme selection should have
`$background-color:#E8EAF6`

and **color: black**
black is a must.

[2019-04-30 21:06] diomed commented on #52
@kognise ?

[2019-05-02 13:52] realrufans opened #65 "Switch Theme Doesn't Work At First Click"
## Expected behavior
I was expecting it to switch the theme after clicking on the button the very first time.
## Actual behavior
The switch button doesn't work at first click. But works fine afterward.

## How to reproduce
- Go to https://watercss.netlify.com/
- click on Switch theme
- Watch it not switch at first click.

## Browser
Version 73.0.3683.103 (Official Build) (64-bit)

Operating system

[2019-05-02 15:01] diomed commented on #52
@kognise ?

come on guys

[2019-05-02 19:35] pawptart commented on #65
Also not working on Chrome 74.0.37299.112 / Android 8.0.0

[2019-05-02 20:02] realrufans commented on #65
https://youtu.be/PJBZR3u7dmM

[2019-05-02 20:02] pawptart commented on #65
Did some testing, also was not working on Chrome on desktop. Looks like the bug is in `index.html` on Line 5.

https://github.com/kognise/water.css/blob/770040da41a8cb32205dec48c2a3678041892b50/index.html#L5

Taking a look at `script.js`:

https://github.com/kognise/water.css/blob/770040da41a8cb32205dec48c2a3678041892b50/script.js#L3-L6

Looks like it's expecting the `href` attribute on the styles

[2019-05-02 20:56] jonaskuske commented on #65
An alternative would be to do:

[code]

This way only the dark/light part is replaced and other filename changes won't affect the switch function :)

[2019-05-02 21:04] pawptart commented on #65
I don't see any reason not to implement your fix. It would be 1 line of code versus 5 currently.

[2019-05-03 00:01] jonaskuske commented on #65
Well thinking about it, it'd need to be

[code]

...because judging by #61 the demo site needs to support Internet Explorer, and IE doesn't support arrow functions.

[2019-05-03 02:02] kylejrp commented on #65
Closed by #66. Thanks for reporting @realrufans!

[2019-05-03 02:02] #65 closed

[2019-05-04 00:41] kylejrp commented on #52
@co16353sidak Can you make a pull request with the work you have for this? We can merge what you have so far and then we can always change the color later if necessary. I just don't want your work to get lost.

[2019-05-04 00:47] kylejrp commented on #27
We would love for contributions on this issue! Here's what would need to be done:

- In `index.html`, add a `<code>` element containing the latest link to the CDN (`<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>`)
- In `script.js`, modify the existing function to also change the `<code>` block so that it changes to `light.min.css` or `dark.min

[2019-05-04 00:47] kylejrp commented on #20
@kognise Do we want to support this and add it to our docs somewhere?

[2019-05-04 00:52] kylejrp commented on #32
We'd love to have contributors on this issue! I think the work can be broken into the six points in @rahuldottech's comment above. Feel free to claim any or all of these points!

To contribute, we'd be looking for you to create or update the relevant `.scss` file in `/src/parts/`. You'll want to reuse any variables from `src/dark.scss` or `src/light.scss` if they make sense, or create and referenc

[2019-05-04 00:56] kylejrp commented on #30
We'd love to have someone contribute to this issue!

To contribute, we'd be looking for you to add a new `.scss` file in `/src/parts/`. You'll want to reuse any variables from `src/dark.scss` or `src/light.scss` if they make sense, or create and reference new variables if necessary.

There's lots of creative freedom with this issue. Feel free to try something unique, as long as it fits in with the

[2019-05-04 00:58] kylejrp commented on #31
We'd love to have someone contribute to this issue! This work could probably be split up into the `<meter>` and `<progress>` elements, but it's also okay if you want to take on both at the same time.

To contribute, we'd be looking for you to add a new `.scss` file in `/src/parts/`. You'll want to reuse any variables from `src/dark.scss` or `src/light.scss` if they make sense, or create and refere

[2019-05-04 00:59] kylejrp commented on #27
This would also be a good opportunity to the code from https://github.com/kognise/water.css/issues/25#issuecomment-482664700:

[code]

[2019-05-04 01:02] kylejrp commented on #45
We'd love to have someone contribute a pull request for this issue. This one is easy - the code is already written. We'd be looking for you to update `src/parts/_misc.scss`
[code]

[2019-05-04 01:02] #50 closed

[2019-05-04 01:52] co16353sidak commented on #52
@kylejrp
i don’t have my laptop with me at the moment and any changes I made are yet to be pushed onto my fork. I will be able to finalise all the required changes by the end of today and then send a PR, I am sorry for this delay

[2019-05-04 02:14] kylejrp commented on #52
@co16353sidak Oh hey sorry, no worries at all! There's absolutely no rush to get these changes in. I just wanted to make sure that we don't lose your changes.

Take your time and thanks for all of your work. 😊

[2019-05-04 04:53] jonaskuske commented on #45
Will do, later today. :)

[2019-05-04 05:15] kylejrp commented on #45
Awesome, thanks so much @jonaskuske!

[2019-05-04 14:21] diomed commented on #59
what is going on with this?
is it fiXed?

[2019-05-04 16:18] kylejrp commented on #59
@kognise Is this issue up for grabs?

[2019-05-04 16:44] co16353sidak commented on #52
@kylejrp @kognise please review PR, what I was thinking that I log in a separate issue where in we can discuss the colours to be used and in the meanwhile merge in the basic selection variable colours I have used.
Happy to do the same.

[2019-05-04 16:59] #52 closed

[2019-05-04 19:19] jonaskuske commented on #20
This would be an alternative approach, minifies a little better (although that's admittedly not *that* important for a bookmarklet 😅) and removes inline styles, too:

[code]

[2019-05-04 20:33] jonaskuske commented on #20
Love the idea of a bookmarklet! Already used it on some horrendous sites and it was awesome! 🎉

I'd really love to have the respective link in the README, so you can just drag & drop it from there into your favorites bar – but I didn't manage to escape the bookmarklet in a way that GitHub's markdown would accept it as URL. 😕

___

This would be an alternative approach, minifies a little better (al

[2019-05-04 20:40] jonaskuske commented on #20
In case this just doesn't work, we could add the link and drag-and-drop instructions to a separate HTML page (or simply the demo site) and then link to this page from within the READMA, à la:

### Want a bookmarklet to apply water.css to messy websites with a single click?

[Get it here!](https://watercss.netlify.com#bookmarklet)

[2019-05-04 21:27] jonaskuske opened #69 "Styling of input[type=range]"
I think range inputs are in need of some better styles – the missing axis of the slider makes it unnecessarily hard to identify them imo:

![image](https://user-images.githubusercontent.com/30421456/57184961-e4ee2080-6ec3-11e9-9edc-35af39d9cec6.png)

[2019-05-04 21:58] jonaskuske commented on #25
We could also use "auto" CSS files but recommend adding `link[rel=preload]` when necessary.

So we'd have

- `dist/dark.css` (dark by default, light if `prefers-color-scheme: light`)
- `dist/light.css` (light by default, dark if `prefers-color-scheme: dark`)
- `dist/light-standalone.css` (only the light theme)
- `dist/dark-standalone.css` (only the dark theme)

All of them could be used with `link

[2019-05-04 22:03] jonaskuske commented on #25
Another thing:

If we also had "modern" versions of the CSS files, devs not targeting Internet Explorer and the likes wouldn't have to deal with these "loading order" problems at all.

We could just use normal CSS variables instead of Sass variables then, and the "auto" builds could ship both sets of variables (negligible additonal filesize) and toggle the variables based on the media query. 😅

[2019-05-05 01:57] jonaskuske commented on #25
**Example interface for the different versions** 👀
https://codepen.io/21stCenturyJonas/full/JqjPgL
(assumes a modern build with CSS vars exists and uses npm links that'll come with #64 as they're shorter)

[2019-05-05 02:33] jonaskuske commented on #27
Also posting this here as it's relevant:

Made an interface for selecting and copying the code required for `water.css`.
It currently includes options discussed in other issues (npm links instead of GitHub hosted, auto-theme based on `prefers-color-scheme`, modern build with CSS variables) but those can be easily removed of course. :)
https://codepen.io/21stCenturyJonas/full/JqjPgL

Let me know ho

[2019-05-05 03:22] kylejrp commented on #20
That's too bad that it doesn't work in the README, but I think that the demo place is a good place to have it instead.

I think we'd take a pull request with the bookmarklet added to the demo page if you wanted to make one!

In the future, it would probably be best to have our Gulp build tools uglify the bookmarklet code at build time, but I think it's okay to just use the minified output from Boo

[2019-05-05 03:24] #45 closed

[2019-05-05 03:28] jonaskuske opened #70 "Modern version with CSS variables"
So, turning this into a separate issue instead of just a [comment](https://github.com/kognise/water.css/issues/25#issuecomment-489369081) in #25:

I'd like to see a "modern" version of `water.css`, using actual CSS variables (aka Custom Properties) for theming. They're supported in all modern browsers for a little more than two years now, [here's the full browser support sheet](https://caniuse.com

[2019-05-05 03:36] kylejrp commented on #69
Oh yeah, this definitely could use some improvement.

MDN has good documentation on the [`input[type=range]` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range). They list some use cases we'd probably want to support.

- Normal range input:
[code]
- Range control with hashmarks:
[code]
- Range control with hashmarks and labels:
[code]

It looks like there's a lot of fle

[2019-05-05 03:38] kylejrp commented on #69
We'd love to have someone contribute to this issue!

To contribute, we'd be looking for you to modify `/src/parts/_forms.scss` to style the three use cases above. You'll want to reuse any variables from `src/dark.scss` or `src/light.scss` if they make sense, or create and reference new variables if necessary. You'll also want to add the three use cases to the demo page so that we can see it in the

[2019-05-05 03:56] jonaskuske commented on #70
Tasks to implement this would be (as far as I can see):

- [ ] Rewrite variable usage from Sass syntax ( `$my-variable: value` / `property: $my-variable` ) to CSS syntax ( `--my-variable: value` / `property: var(--my-variable)` )
- [ ] Create partials for `_variables-light.scss` and `_variables-dark.scss` in `parts/`
- [ ] Add the build files described above (with correct import links)
- [ ] Updat

[2019-05-05 04:13] kylejrp commented on #27
@jonaskuske, this seriously awesome work! I love what you've done so far. This really solves some of the problems we've been discussing about how to make water.css easy to use.

I think we would want to make it easy to copy and paste without reading into the advanced options. The ideal interface order in my head would be:

**Get `water.css` now!**
Paste this into the <head> of your HTML:      [Cop

[2019-05-05 04:34] kylejrp commented on #25
Oh wow, duh, CSS variables make so much sense for this. What a great idea. (We live in the future!)

We should pursue using CSS variables and supporting prefers-color-scheme. We can support IE11 and the likes later with the advanced options discussed in #27.

The trickiest part here would be modifying our existing Sass/Gulp to handle this. Ideally, we just have Sass variables or CSS variables, not

[2019-05-05 04:38] kylejrp commented on #70
Oh wow, I should have read this before making my comment in https://github.com/kognise/water.css/issues/25#issuecomment-489389211. Sounds like you've already have a good grasp on the work that needs to be done, but give me some time to review what you've got first. (Great research and work! 😄)

[2019-05-05 05:05] kylejrp commented on #70
Okay, I love it. I think you should go ahead and run with this.

My only concerns are:
1. How does this affect installation?
2. How does this affect future code contributors?
3. How does this affect future theme contributions?

I think 1. is solved by the new UI you've mocked up, especially with the advanced options feature.

I think 2. is my bigger concern. I'm worried about the root of `/src/` g

[2019-05-05 05:06] kylejrp commented on #27
Maybe it would be good to show a browser compatibility matrix for the options too? I dunno, there's a lot of possibilities in this UI. You've got my mind racing!

[2019-05-05 05:31] jonaskuske commented on #70
Replying to your comment here:

The CSS variable polyfill is super cool, but it also is a big chunk of JavaScript that has to download and parse every single stylesheet on a page, compile it and insert it after pageload. It's very much impressive but also very much overkill for our usecase. 😀 Using Sass variables as custom property works ( `--css-var: $sass-var;` and done), but you're right that t

[2019-05-05 05:50] jonaskuske commented on #27
Agree on your reorder proposal, having the installation code readily available right at the beginning definitely makes sense!

CSS & Sass compilation is only in Beta there, but we might be able to simply add [bundlephobia badges](https://badgen.net/#bundlephobia) once we're up on npm.

As for browser support: The proposed new default builds would only support modern browsers, everything else would

[2019-05-05 05:55] kylejrp commented on #70
Agreed!

Sure, I can see this being useful, as long as they're overwrite-able when necessary. (Theme contributors?)

Do you mean that the common variables would remain SASS variables and compiled into the CSS? I think that makes sense. I think we only need to use CSS variables when they're being switched from light/dark.

I definitely agree. I'm in favor of including `(prefers-color-scheme)` in th

[2019-05-05 05:59] kylejrp commented on #27
I love the bundlephobia badges!

I'm not too worried about legacy browser support by default as long as it's communicated clearly and is still an option. Maybe @kognise can chime in on opinions on default browser support and how we communicate that.

[2019-05-05 07:04] jonaskuske commented on #70
Oh, as for that:

When using the modern build, you wouldn't have to modify any of our files, you could simply define your own variables in *your* CSS, and as long as your stylesheet appears after `water.css` in the HTML, the CSS cascade will take care of everything.

To build your own full-blown theme including compilation, legacy builds and potential redistribution, you'd also create your own sty

[2019-05-05 16:27] kylejrp commented on #70
Of course, that makes so much sense. I think that makes theming _more_ accessible, since you wouldn't need to mess with the build tools at all.

This is probably a little extreme, I imagine most themes will be okay without all the legacy options.

Makes sense, this is a definite plus.

Do you have any sources on this? Or I guess we just test it after.

[2019-05-05 23:38] jonaskuske commented on #70
Heh, didn't know we have this nifty deploy preview configured!
Open https://deploy-preview-71--watercss.netlify.com/ in Safari or in a dev version of Firefox, switch your system from dark to light mode and vice versa and see the magic happen :D

[2019-05-07 05:10] kimulaco commented on #59
If goal is fix, I can give a PR.

[2019-05-07 05:52] kylejrp commented on #59
Go ahead @kimilaco!

[2019-05-07 15:58] kimulaco commented on #59
@kylejrp @kognise
OK. I will make PR while considering the design.
Please wait a moment.

[2019-05-07 20:02] kylejrp commented on #25
I'm seeing Chrome 76-77 having support for this now:
https://caniuse.com/#feat=prefers-color-scheme

[2019-05-08 15:05] kimulaco opened #73 "How about adding a config file, such as linter?"
I saw this PR(https://github.com/kognise/water.css/pull/23).
I think it is a good idea to add Linter.
Currently, gulpfile.js does not standardize the presence of semicolons and the style of indent.

However, it is inefficient to create all linter settings manually.
So I suggest creating a config based on [JavaScript Standard Style](https://standardjs.com/)([eslint-config-standard](https://github.c

[2019-05-08 16:58] jonaskuske commented on #73
I thought about this too for a while, so thanks for starting that discussion!

My thought was to go with a combination of ESLint, Stylelint and [prettier](https://prettier.io/) (integrated through `eslint-plugin-prettier` and `stylelint-prettier` respectively) to catch mistakes (ESLint, Stylelint) and enforce common formatting guidelines (prettier).
We would integrate this though [`husky`](https:/

[2019-05-10 19:41] kylejrp commented on #73
I'm on board for this. I like the idea of an opinionated default configuration that we don't customize.

Having it work with editors and during commits is a great idea and we should make sure that's supported.

I'm curious what @kognise thinks. You can propose a pull request but I'll want @kognise to approve.

[2019-05-10 22:24] IL4Miy commented on #69
I think we could simply use the input background color and a white slider with a shadow.

But I am not sure if a separate styling for range input is really necessary because it conflicts the file size goal and the default range input looks okay in my opinion.
`input[type=range]` could be excluded from the SASS input styling so it looks native.

![range_input](https://user-images.githubusercontent.

[2019-05-11 17:19] kylejrp commented on #69
Good plan.

Don't worry too much about the file size here. We can always optimize later if this is the source of file size problems.

I think we're better off making our own styles to override any native browser styles that don't match. I'm not sure what the native example would look like on Windows, Mac, Android, iOS, etc.

I really like your example screenshot from above @IL4Miy! Great work. If

[2019-05-11 17:21] IL4Miy commented on #69
@kylejrp Okay I will look for it and create a PR :)

[2019-05-16 14:24] diomed opened #77 "chat"
- Discord server would maybe be nice for questions etc.

[2019-05-16 14:28] kognise commented on #77
*Rubs together hands*
**I thought you'd never ask!**

[2019-05-23 17:09] diomed commented on #77
so, what's up with that?
it's been a week.

[2019-05-24 12:09] frontendmonster opened #78 "Water overrides input display property"
Here is the code:

[code]

[code]
with the above code the input display will get computed as `block` cuz [this rule](https://github.com/kognise/water.css/blob/2f4c5fba5e05b86232d0901325d90f5d59036fd2/src/parts/_forms.scss#L8) have more specificity than single class name.

[2019-05-24 18:40] asoback commented on #32
I'd love to contribute.

Light theme:
![image](https://user-images.githubusercontent.com/31739297/58349214-4b61c100-7e28-11e9-83e7-9cf9c642c302.png)

Dark Theme:
![image](https://user-images.githubusercontent.com/31739297/58349253-692f2600-7e28-11e9-929b-980d1b364a16.png)

I changed the color of `<var>` to differentiate it, I'm not sure there needs to be any change with `<cite>` `<q>` or `<blockqu

[2019-05-24 21:31] asoback commented on #31
I'd like to try to come up with something for the progress bar at least. Thank you for all the resources!

[2019-05-25 17:45] kylejrp commented on #78
I think this is a necessary evil of water.css. The closest I can get to lowering the specificity is:
[code]
or
[code]

Both of these still have a higher specificity than `.hidden` because they're targeting both `input` and `[type=...]`. I've seen other frameworks fix this by using a `.check` and/or `.radio` class... but we're a classless framework!

If anyone has a suggestion on how to fix this, I

[2019-05-25 17:53] kylejrp commented on #32
Great work @asoback!

Can you show some examples of what the `<kbd>` element looks like with some example keys? Something like `<kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd>`.

For `<var>` and `<time>`, is the font size changing? It's hard to tell in your screenshot. I think that the font should stay the same height so that code examples have uniform height across a line. It would be okay to c

[2019-05-25 18:32] kylejrp opened #80 "Better documentation of elements"
#76 brought up the point that it's difficult for new HTML users to understand how to use some of the more complicated HTML elements.

I'd love to see `index.html` (or maybe a separate page) have some sections on how to use each of the elements water.css supports. For example, documentation for the blockquote element could be:

---
### Blockquote
[Documentation](https://developer.mozilla.org/en-US/

[2019-05-25 21:29] kylejrp commented on #80
@kognise suggested an "inline html tutorial" style like Impress.js: https://github.com/kognise/water.css/pull/76#issuecomment-495944966

I personally like the reference style of things like [Bootstrap](https://getbootstrap.com/docs/4.3/getting-started/introduction/).

Reading more online, it sounds like there are four main types of documentation:
1. Tutorials
2. How-To Guides
3. Explanation
4. Ref

[2019-05-27 12:21] frontendmonster commented on #78
Thanks for your fast response,
I opened #82, that will fix the issue.
Maybe that's a cheat, but i don't think so that makes problem in water.css use-cases.

[2019-05-28 05:42] kylejrp opened #83 "Update Theming Guide in README.md"
The source files for water.css were changed from SASS to just plain CSS using CSS variables. See the full details on #71.

This made the theming guide in README.md out of date. It needs these minor updates:
- The references to SASS should be removed.
- The variables should no longer be SASS variables. Instead of listing all our variables, we can just link to `src/variables-dark.css` or `src/variab

[2019-05-28 05:49] kylejrp commented on #27
Now that #71 is merged we can move forward with adding the version picker to the demo.

[2019-05-29 02:05] kimulaco commented on #59
@kognise @kylejrp This issue has been resolved.
There are no other tasks, so I close it.
Thank you!

[2019-05-29 02:05] #59 closed

[2019-05-29 05:00] kimulaco opened #84 "Demo page "switch theme" does not work."
@kognise @kylejrp @jonaskuske
I think using CSS variables is a great idea!!(https://github.com/kognise/water.css/issues/70)
However, I found a problem on the [demo page](https://watercss.netlify.com/), though.

By use "prefers-color-scheme", it does not switch with "switch theme" on the demo page.
This is because the device's theme setting is prioritized.

So, in order to preview both "switch them

[2019-05-29 05:02] kylejrp commented on #84
Hah! Great catch. I don't think there was discussion about this before.

You're right that we'll probably have to use the standalone files to get this working.

[2019-05-29 05:14] kimulaco commented on #84
In the future, I think personally it is better to use standalone files in demo page and use "prefers-color-scheme" in landing page.

For now, do change it to read standalone files now?
I can also give a PR.

[2019-05-29 05:24] kylejrp commented on #84
Yeah, if you can make a pull request that switches to the standalone files, that would be great! Thanks a ton, @kimulaco.

Let's leave this open and discuss more after that merge. I personally like having the "most default" file on all pages where possible. Maybe some feature detection in the JavaScript?

[2019-05-29 06:44] kimulaco commented on #84
@kylejrp I will try to adjust the switch by detect "prefers-color-scheme" with "window.matchMedia".
Please wait for a while before give the PR.

[2019-05-29 10:07] jonaskuske commented on #84
Yes good catch, this needs to be taken care of with the new interactive version picker! (#27)
Then the version used on the demo site should always match the selected one, and there needs to be an explanation for the current display status. ("Light theme is selected, but your system is currently set to dark mode")

I think if we recommend the normal versions as default but always use standalone bui

[2019-05-29 10:29] kimulaco commented on #84
I will adjusting to read the normal version by default.
Then, when the switching button is pressed, the switching theme is changed based on the loaded theme and the device theme.

I think that showing the status is a good idea!
I will try in this PR.

[2019-05-29 14:37] kimulaco opened #86 "Create favicon"
How about creating a favicon for use on demo pages etc?
As favicon is displayed on Google Search, setting a cool favicon will attract more users.
https://support.google.com/webmasters/answer/9290858?hl=en

[2019-05-29 16:37] diomed commented on #77
ssoooo????

[2019-05-29 16:38] diomed commented on #86
yeah. maybe like a drop in the same style like logo is made

[2019-05-29 17:05] jonaskuske commented on #77
I doubt the time until this is resolved decreases with the amount of question marks and duplicated letters used... 🙈😅

[2019-05-29 17:07] diomed commented on #77
you never know. I like to remind people.
maybe he just simply forgot about it.

[2019-05-30 02:15] kylejrp opened #88 "Move docs files into their own folder"
@jonaskuske had a great suggestion in #71 to move all the docs files to their own folder. I think this will help clean up the project directory.

However, this change will break the Netlify configuration, as it's looking for `index.html` and not `docs\index.html`. @kognise will have to update the Netlify configuration as we make this change.

[2019-05-30 02:34] kylejrp commented on #86
Great idea @kimulaco!

@kognise, do you have any of the resources you used to make the original logo?

[2019-05-30 02:39] kylejrp opened #89 "Fix switch theme button for IE11"
I haven't nailed down the source of this problem, but the "Switch Theme" button on the demo page has been broken on IE11 for a while.

This change was **not** introduced by #85. However, #85 may have added more compatibility issues on top of it.

We could try tracing down the original source of the problem, or we could just update the build tools to automatically support IE11 and other browsers.

[2019-05-30 02:57] kimulaco commented on #89
@kylejrp Thank you for making the issue!
Since I corresponded to #85 , I would like to correspond to this issue as well.

[2019-05-30 12:03] kimulaco commented on #88
@kognise @kylejrp @jonaskuske
I saw some issues and thought that I needed to move files other than docs files.(#89 #84 etc...)
We will also need to change the src directory to make a JavaScript build environment.
And that's related to moving docs files.

I think the following directory is common. (Those that have not been changed are omitted.)

**now**

[code]

**after**

[code]

Please let us kno

[2019-05-30 12:56] jonaskuske commented on #88
@kimulaco
What's `src/js/*` in this case?
If it's the JavaScript for the docs I must say I'm against this, I feel like the `src` directory should only contain the source files for `water.css` itself, not accompanying documentation fluff.

But you're right that we need separate places for compiled docs and source docs if we want a build chain there. Alternatives would be:

  - Use `docs/*` as sourc

[2019-05-30 13:22] kimulaco commented on #88
I considered these as one project and had the idea of saving the pre-build JavaScript resources used for the document in `src/js/*`.
However, as @jonaskuske says, I agree to separate the resources of the library itself and the documentation!!

[2019-05-31 13:12] jonaskuske commented on #25
This can be closed once the current master is published as a release. (version 2.0.0 I guess)

[2019-05-31 13:12] jonaskuske commented on #70
This can be closed once the current master is published as a release. (version 2.0.0 I guess)

[2019-06-07 02:43] #86 closed

[2019-06-10 11:55] diomed opened #95 "tooltip styling"
let's say we have this:

`<a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>`

would be nice to implement something as this:

https://kazzkiq.github.io/balloon.css/

or something similar on your end

[2019-06-10 12:19] jonaskuske commented on #95
I'd argue this is out of scope.
Water.css only styles native HTML elements so they match design expectations of the current century, it does not "invent" new elements.

The native "tooltip" of HTML is the `title` attribute.
Imo the only thing we could consider is automatically giving elements with a `title` attribute an underline and a different cursor so users can see that there's a tooltip, like

[2019-06-10 21:13] asoback commented on #31
Hey, I wasn't able to get animations working on Chrome, so my original PR is closed until I can figure that out. Here's a [link](https://github.com/asoback/water.css/blob/progressbar/src/parts/_misc.css) to where I left off in case anyone else happened to be interested.

[2019-06-25 19:06] thenathurat opened #97 "Unfortunate input fields placing"
Hi all,

So I noticed a weird issue. When I have a simple form going, without water.css it looks like this:
![without water.css](https://user-images.githubusercontent.com/45589978/60125609-796e5400-978c-11e9-8ca3-8bd76c12afaf.png)

With water.css it looks like this
![with water.css](https://user-images.githubusercontent.com/45589978/60125719-af133d00-978c-11e9-940e-63d5071f7e9f.png)

If the image

[2019-06-25 19:07] thenathurat commented on #97
side note: let me know what a better title would be.

[2019-07-01 20:56] diomed opened #98 "slow development"
![](http://weknowmemes.com/generator/uploads/generated/g1562013637800848225.jpg)

been waiting for new version for weeks now.
considering the popularity of the project I hoped for things to move a bit faster here.

[2019-07-03 10:18] MazeChaZer opened #99 "GitHub pages site doesn't redirect to the new site"
When I visit <https://kognise.github.io/water.css/>, I get a 404 for the CSS file and no styles are applied.

[2019-07-03 10:30] MazeChaZer commented on #99
I just saw that the demo page seems to have moved to netlyfly. Perhaps include a redirect on the old page?

[2019-07-27 06:51] ubershmekel opened #100 "Prevent scroll bar from causing a layout shift"
Because the layout is centered - a scroll bar coming in and out causes a slight shift. This is mostly visible in single page apps where the header should be static but it clicks to the side when moving between long and short pages.

`min-height: 101%` causes the scroll bar to always show up which is what this kind of layout needs.

[2019-08-26 17:54] kognise opened #101 "Dev server not working"
The development server doesn't live reload on changes and doesn't automatically build on CSS changes.

[2019-08-29 05:42] thenathurat commented on #97
I don't think I had been, however now I can't  verify.

[2019-08-29 05:42] #97 closed

[2019-08-29 07:36] jonaskuske commented on #100
If you use
[code]
you achieve the same result (scrollbar always visible), but without that little 1% scroll no matter how tall the site actually is.

Still, I'm not sure how I feel about this – it seems like a very hacky workaround to a minor problem and shouldn't be done through water.css itself but in userland imo, so users can decide for themselves if they want it or if they want to use another

[2019-08-29 07:39] jonaskuske commented on #101
I can look into this bug this weekend, if I can reproduce it :)

[2019-09-01 22:19] #57 closed

[2019-09-21 13:05] mohd-akram opened #104 "Multiple select has arrow in the middle"
Add `multiple` to the select tag in the demo page to see. Perhaps it would be helpful to have a multiple select element in the demo page also.

[2019-09-27 04:49] khuongduybui opened #105 "Can we have an option to remove max-width from body?"
I love everything about this framework except for the fact that it forces max-width on my body.
I am proud to wear my body fat.

[2019-10-01 18:29] Showtim3 commented on #30
@kylejrp @rahuldottech Hey I'd like to help with this..

[2019-10-01 18:41] kylejrp commented on #30
It's yours, @Showtim3!

The current master branch has been reorganized a little bit from my previous explanation above. If you have any trouble finding out where the new files are, let me know.

Feel free to respond here or open up a WIP merge request when you've made some progress!

[2019-10-01 18:42] Showtim3 commented on #30
@kylejrp i probably have to write a ```css``` file instead of ```scss``` right? and I am going through the suggestions from the previous PR, that's fine right?

[2019-10-01 18:42] kylejrp commented on #104
Great suggestion. We'd take a pull request for this!

[2019-10-01 21:31] olgark commented on #104
I would like to work on this issue, unless you were planning on it, @mohd-akram. Please let me know!

[2019-10-01 21:32] mohd-akram commented on #104
Sure, go ahead :D

[2019-10-01 22:02] kylejrp commented on #104
I think that #107 already beat you too it. Sorry @olgark!

[2019-10-01 22:09] #30 closed

[2019-10-01 22:23] olgark commented on #104
@kylejrp @mohd-akram It looks like the PR did not actually solve this issue. Is it bad etiquette for me to create a PR that removes the arrow and styles the multiple select as the issue stated, or should I wait for the PR creator to fix it? Hacktoberfest is brutal 😅

[2019-10-01 22:47] kylejrp commented on #104
Ah, I misunderstood! #107 doesn't fix this bug. Oops.

#107 added the issue to the demo page. We'd still be looking for the issue to be resolved.

@olgark What pull request are you referring to? Can you link to it here? If it's stale, you're welcome to pick it up and work on it where they left off.

[2019-10-01 22:57] olgark commented on #104
@kylejrp it’s the one you referenced above. If you look at the discussion, it seems it was intended to solve the issue, and the creator of the PR is going to fix it.

[2019-10-01 23:04] kylejrp commented on #104
I'm not seeing that discussion on that pull request. It looks like #107 was only intended to update the demo page. The only other users in that thread are myself and @mohd-akram, and we're both okay with you taking the issue on.

It's yours if you want it @olgark! 😁

Let me know if you'd like any help or if you have a WIP pull request you'd like me to review.

[2019-10-02 00:48] olgark commented on #104
@kylejrp oh! My mistake. The conversation was between you and mohd-akram. I thought it was between the PR author and mohd-akram. In that case, yes I’ll do it! Sorry for the confusion.

[2019-10-02 01:20] olgark commented on #104
@kylejrp I have created a pull request (see above). Thanks!

[2019-10-02 02:34] kylejrp commented on #25
I'm closing this as the changes have been merged into master and we're just waiting on the release of 2.0.0.

[2019-10-02 02:34] #25 closed

[2019-10-02 02:34] kylejrp commented on #70
I'm closing this as the changes have been merged into master and we're just waiting on the release of 2.0.0.

[2019-10-02 02:34] #70 closed

[2019-10-02 02:41] kylejrp commented on #95
Agree with @jonaskuske, `data-` attributes are out of scope as they're used to extend HTML. `data-` attributes don't really have a semantic meaning in plain old HTML. We could consider styling the `title` attribute though.

I think that using balloon.css together with water.css makes the most sense if this is needed functionality. I don't see a reason why they wouldn't work together.

[2019-10-02 02:41] #95 closed

[2019-10-02 03:04] kylejrp commented on #98
Please review the [code of conduct](https://github.com/kognise/water.css/blob/master/.github/CODE_OF_CONDUCT.md).

[2019-10-02 03:04] #98 closed

[2019-10-02 03:06] kylejrp commented on #99
I don't have experience with GitHub pages, but we'd take a pull request for configuring the redirect if possible.

[2019-10-02 04:23] kylejrp commented on #100
I think that adding `overflow-y: scroll` is a fairly safe option.

I don't think targeting SPAs is in line with the goals of the project, but fixing weird problems like a scrollbar popping in/out would be in scope.

The only downside is this would be adding a scrollbar to pages that don't need it - for example, tiny demo sites that don't have enough content to fill the screen.

I'd love to hear mo

[2019-10-02 04:30] kylejrp commented on #105
We try to avoid configuration where possible. We're having to do it in 2.0.0 for browser compatibility, but I'm not sure that we're ready to do it for cosmetic items like this.

I don't want to `<body>`-shame though. For your use case, is this something you'd be able to override with your own custom stylesheet after water.css? For example:
[code]

[2019-10-02 05:25] kylejrp opened #109 "Remove `dist` folder"
The `dist` folder should be removed in favor of publishing these build artifacts through npm. We would want to remove these files, add `dist` to `.gitignore` and create a new `.npmignore` that excludes the same files as `.gitignore` except for the `dist` folder.

This will make pull requests easier to review and prevent contributors from having to build beforehand.

This is probably a breaking cha

[2019-10-02 05:36] kylejrp opened #110 "Contributing Guide"
A guide for contributors needs to be created. This should move the contributing content from [`README.md`](https://github.com/kognise/water.css/tree/f0709f5517a671faf5007c60a335cca89869cf1f#contributing) into `.github\CONTRIBUTING.md` and update it for the changes from #71.

In scope for this issue:
- Prerequisites to install (yarn, what commands to run)
- How to find issues to work on (good-first

[2019-10-02 05:44] kylejrp opened #111 "Seperate browserlist for modern builds"
`gulpfile.js` has multiple builds - one for legacy browsers that don't support CSS variables, and one for modern browsers that do.

We could use two browserlists to help reduce filesizes:
- Our current browserlist could become the legacy browserlist
- A second browserlist that only includes browsers with CSS variables compatibility

To work on this issue, you would need to:
- Get a list of browser

[2019-10-02 05:51] melanieseltzer commented on #109
Is this something I could work on? I'd like to contribute :)

[2019-10-02 06:00] kylejrp commented on #109
It's all yours @melankeseltszer! Let me know if you need any help.

[2019-10-02 08:03] JanSchneider1 commented on #111
Hi, I would like to work on this issue :)

[2019-10-02 08:52] justinasposiunas commented on #110
I would like to take this one :)

[2019-10-02 10:12] jthegedus commented on #100
I've been using this for an SPA and enjoy the experience, whilst my SPA has a lot of content and requires scrolling and doesn't affect me, I would like to voice people are using it for SPAs.

[2019-10-02 11:02] JanSchneider1 opened #114 "Inconsistent coding style - Semicolons in .js"
Currently some .js files have a different coding style regarding semicolons `;`
The `index.js` and `gulpfile.js` don't use `;` after statements, but the `script.js` does.

In my opinion even when `;` are not needed, they can help improve readability and can prevent
mistakes.

**Discussion**: What coding style should we use?

**What changes do you want to be made?**: Perform a refactor for all .js

[2019-10-02 12:25] jonaskuske commented on #114
This is directly related to https://github.com/kognise/water.css/issues/73

If we have a prettier setup (or similar) the style will be kept consistent without further effort. Right now we don't have any linting or formatting config at all, so everyone's editor uses whatever they have defined as their global default config. In my case that means no semicolons, so the files I touched where formatted

[2019-10-02 13:35] khuongduybui commented on #105
That's what I currently resort to. Thanks.

[2019-10-02 13:35] #105 closed

[2019-10-02 16:50] kylejrp commented on #110
It's yours @justinasposiunas! Let me know if you have any questions or want me to review a WIP pull request.

[2019-10-02 16:58] #104 closed

[2019-10-02 17:03] #111 closed

[2019-10-02 17:41] #109 closed

[2019-10-02 17:45] kognise commented on #114
Thanks for the feedback! Closing this in favor of #73.

[2019-10-02 17:45] #114 closed

[2019-10-03 14:08] kcclemo commented on #83
Is this issue still open?

[2019-10-03 15:36] kimulaco commented on #99
@kylejrp @kognise
I investigated how to redirect from Github Pages to Netlify, it seems to be mainly the following two.

- Use a jekyll plugin (`jekyll-redirect-from`)
    - 301 Redirection is possible, so you can redirect properly to the crawler.
    - It is necessary to use gem, and the file which isn't related to water.css increases.
- Use `meta[http-equiv="refresh"]` and `link[rel="canonical"]

[2019-10-05 19:21] BeardedBry commented on #83
I'll try to make the changes listed here that I know how to do!

[2019-10-05 22:23] kognise commented on #83
@kcclemo yeah, feel free to take a look

[2019-10-06 16:33] prasannabisen commented on #80
can I work on this project?

[2019-10-06 16:44] kognise commented on #80
@prasannabisen Go ahead! :smile:

[2019-10-07 14:40] kcclemo commented on #18
Hello @kognise,
I've put together a simple Jekyll theme that could be used as a boilerplate. This can probably be improved to pull the CSS files directly from the master branch during the build process, but this should be a good start for now.

[2019-10-13 02:54] kimulaco commented on #84
@kylejrp Since you can switch the theme, you can close this issue, but do you wait for the version picker?

[2019-10-17 13:27] megrxu commented on #18
A hugo theme based on water.css is available at https://gitlab.com/xugr/hugo-water.
The demo is at https://xugr.me/hugo-water.
Some elements are not frequently used in a static site generator, so I didn't mention all fancy elements.

[2019-10-17 18:59] kcclemo commented on #78
Not sure if this might be too specific, or have any other implications but, what if you excluded inputs that contain classes or ids? This allows the water.css styles to be a baseline, but, then immediately overridden if a class or id is provided.
`input:not([type='checkbox']):not([type='radio']):not([class=]):not([id=])`

What I don't like about this is that if I am adding an ID or Class for the p

[2019-10-18 12:50] locness3 commented on #18
Thanks @megrxu ! But what I'd like is a Jekyll theme for GitHub pages, just like you have the [cayman](https://github.com/pages-themes/cayman) etc. theme, for documenting your repo.

[2019-10-24 05:25] khuongduybui opened #139 "Support <dialog>"
Here's what I currently have (trying to mimic details / summary as much as possible).

[code]

[2019-10-28 15:18] seriouslysean commented on #101
I was able to reproduce this issue @kognise and @kylejrp -- added a PR to address the bug here, https://github.com/kognise/water.css/pull/140. Let me know if you need anything else!

[2019-11-02 00:05] #73 closed

[2019-11-02 00:07] kylejrp opened #142 "Add Style Linting to CI pipeline"
One of the recommendations from #115 was:

[2019-11-02 00:08] kylejrp opened #143 "Adding style linting for Gulp"
One of the recommendations from #115 was:

[2019-11-02 00:09] kylejrp opened #144 "EditorConfig support"
One of the recommendations from #115 was:

My gut reaction is that we would want this, I'm biased because I'm a vscode user. 😄

[2019-11-02 00:16] kylejrp opened #145 "Doc Files Linter Support"
Confirm that #115 lints the doc files as well

[2019-11-02 00:20] kylejrp commented on #139
This looks like a good element to support!

@khuongduybui would you be able to put together a pull request and reference this issue? A pull request would create a Netlify preview that would make it easier to review.

Thanks for your contribution!

[2019-11-02 00:29] kylejrp opened #146 "Add HTML validation"
We're not checking the validity of HTML for the demo page. This was noticed in #119.

It would be nice to have something added to check for HTML validity - either something that lints the HTML files, or something that makes the build task fail when HTML isn't valid.

I would be looking for recommendations on how to do this and would be open to any pull request that accomplishes the goal!

[2019-11-02 01:20] kylejrp opened #147 "Contribution Guide Additions"
Add information to `.github/CONTRIBUTING.md` regarding:
- Linting (#115)
- Not adding any classes or ids to CSS files
- Theme color guidelines:
  - Reuse existing colors where possible and only for the purpose that their variable describes (eg. don't use text variables for background colorss)
  - Add new colors to both theme files if necessary
  - Don't add colors directly to the css files
  - How

[2019-11-02 04:02] kylejrp opened #149 "Review Netlify Pricing"
Hey @kognise,

Netlify recently changed the pricing for the free tier - they now track the build minutes for your entire account:
https://www.netlify.com/pricing/faq/

It might be worth reviewing if the Water.css demo page should still be on Netlify.

[2019-11-02 04:10] kylejrp commented on #84
I'll wait for #90 to automatically close the issue when it gets merged in.

[2019-11-02 04:11] kylejrp commented on #110
Closed by #120

[2019-11-02 04:11] #110 closed

[2019-11-02 04:53] kylejrp commented on #20
This should probably wait for #64 to merge before continuing - the bookmarklet code from above would have to change to point to the NPM release instead of the GitHub release.

If someone wants to make a pull request ahead of time that adds the bookmarklet that points to the future NPM release, we could merge it once we publish to NPM.

[2019-11-02 04:56] kylejrp commented on #31
There was a pull request for this on #128, but it was closed because it used IDs/classes. This is still up for grabs if that pull request doesn't get reopened.

Don't forget that @asoback had an excellent WIP here:
https://github.com/asoback/water.css/blob/progressbar/src/parts/_misc.css

[2019-11-02 04:57] kylejrp commented on #32
@asoback, should #93 close this issue? Or were there still outstanding elements in this issue that your pull request didn't cover?

[2019-11-02 04:58] kylejrp commented on #56
There was some good discussion on Reddit on some tools that could help spot check accessibility:
https://www.reddit.com/r/webdev/comments/dl8g5v/one_click_ada_compliance_tool_does_anyone_have/

[2019-11-02 05:13] kylejrp commented on #56
We would take any pull requests that improve the accessibility of Water.css. This could be a fix for an accessibility issue, or tooling that would help detect accessibility issues.

[2019-11-03 16:13] juancarlospaco opened #155 "Web Framework with WaterCSS builtin"
Hello!, I was thinking to ping you but cant find any social account,
so I opened this issue to communicate, feel free to close it or I can close it later.

WaterCSS support has been added to our Web Framework, out-of-the-box, built-in,
along with Bulma CSS, so theres options for class and classless.

I dont want to look like I am promoting or spamming here, so go check it, has some unique features

[2019-11-05 20:22] #155 closed

[2019-11-08 16:48] zachvalenta opened #160 "footer example doesn't add horizontal rule, mute font"
The footer recently added to the demo page https://github.com/kognise/water.css/pull/122 doesn't seem to work for me re: adding horizontal rule above footer and muting font.

Here's what I'm seeing:

![Screen Shot 2019-11-08 at 11 45 52 AM](https://user-images.githubusercontent.com/11388735/68495021-6335d180-021d-11ea-8392-7eee22c337b5.png)

And here's my markup:

[code]

[2019-11-08 17:57] kylejrp commented on #160
I think this is because we haven't created a new release yet. We're working on releasing a version 2.0.0 on npm with the latest additions.

I'll confirm when I'm at my computer again.

Sorry for the inconvenience!

[2019-11-09 00:25] zachvalenta commented on #160
Cool, looking forward to it and thanks for the help :) 👍🏼

[2019-11-15 05:32] #83 closed

[2019-12-12 15:18] m-a-y-a-n-k commented on #146
Hi , I am willing to work on this issue but I need some guidance

[2019-12-16 02:03] eel87 commented on #56
Hello, I'd love to help improve the accessibility of Water.css!  I have some experience with WAI-ARIA. I'm a new developer and this would be my first contribution...I could add accessibility to `index.html` .  Is that something you're looking for or is there another way I can help?

[2019-12-23 00:44] 108thavenue commented on #147
Hi @kylejrp, I can work on this issue.

Could you please tell me more about what to document regarding linting? I read over the previous discussions and see that only basic linting has been merged in so far. It seems like it will be a one-liner saying something like "our linter is configered to use [JavaScript Standard Style](https://standardjs.com/)", unless I'm missing something. Any guidance wo

[2019-12-23 00:59] 108thavenue commented on #147
Also @kylejrp, could you please elaborate on what you mean by "don't add colors directly to the CSS files"? How else should contributors add colors? Thank you.

[2020-01-01 13:20] PDanielY commented on #149
Yes, you should change to heroku or something

[2020-01-08 20:33] pofl opened #167 "Follow typography rules for line length"
Just one random link on typography: https://material.io/design/typography/understanding-typography.html#readability

My main concern with water.css is the characters per line. Different studies suggest optimal line length is between 40 and 90 characters. While it's curious that science has found such a big range for an optimum, I do want to point out that on the homepage of water.css I get at leas

[2020-01-13 08:21] luminarious opened #168 "Pixels or relative units?"
Current best practice is still to use rem for specifying sizes: https://www.24a11y.com/2019/pixels-vs-relative-units-in-css-why-its-still-a-big-deal/

[2020-01-13 11:30] david-donachie opened #169 "Position of dot in selected radios"
Selected radio buttons use a :before with a bullet character (•), however this doesn't display centred on Windows 10 Firefox. The bullet is lower than the midline of the control.

A substitute is to use a circular box with a space as the generated content. The following seemed to work for me, though the dots are larger than before

content: ' '
background: var(--form-text);
width: 0.4em;
height: 0

[2020-01-13 16:18] kognise commented on #168
Font sizes are currently specified with `em` and margin/padding are specified with `px` as is best practice. Do you think `rem` would be better over `em`?

[2020-01-14 09:04] luminarious commented on #168
Like the article elaborates, they look identical when using browser default settings. The difference is what happens when the user has impaired vision and changes the default font-size and/or sets a minimum font size. Rem-based layouts are more flexible and will still look on-brand, even if not identical to design, whereas pixel-based layouts can outright break.

[2020-01-14 16:24] kognise commented on #168
As I said, the font sizes are all styled in ems and the spacing is in pixels. This doesn't break the layout at all and this is how I develop all my websites. This has never been a problem, and it's also what a lot of other web developers do.

Here's a screenshot of what Water.css looks like with zoomed in text:

![Screenshot with zoomed in text](https://please.dont-hack.me/1rkqqscua9n79.png)

What

[2020-01-20 09:06] luminarious commented on #168
Alright, glad I could help 🙂

[2020-01-20 09:06] #168 closed

[2020-01-28 16:36] MuhammadUmer0 commented on #169
Hi, I have solved the issue (positions of radio buttons) and also created PR for it. Kindly review it thanks

[2020-01-31 14:33] pchessah commented on #146
I would like to work on this

[2020-02-02 10:08] prachi-28 commented on #80
Hi! Is the project still open? If yes, can I work on this?

[2020-02-02 10:20] burhan786 commented on #147
hi,can i work on this issue

[2020-02-02 11:03] pierluigi commented on #160
Any updates? Thanks!

[2020-02-10 07:45] kaihendry opened #173 "Footer border missing"
How come I see a footer rule with `border-top: 1px solid var(--background);` in _misc.css upon https://kognise.github.io/water.css/ but not in view-source:https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css ?

<img src=https://s.natalian.org/2020-02-10/1581320571_2560x1440.png>

[2020-02-10 10:14] jonaskuske commented on #173
Because the documentation site is using the up-to-date version of `water.css`, while the version available on `cdn.jsdelivr.net` (that is refered to in the docs and README) is very old – version 2.0.0 was completed and merged into `master` early 2019, but not deployed since, so that's been dragged along for almost a year now. Also the reason why many points of the README don't work, which you migh

[2020-02-10 11:42] kaihendry commented on #173
Thanks!! Though why isn’t jsdelivr updated with the new version? Thanks!

[2020-02-16 20:12] mohd-akram opened #174 "table overflows container"
Example:

[code]

[2020-03-12 22:32] krogusz commented on #174
I think I can handle this :)

[2020-03-13 08:13] kaihendry opened #175 "Navigation / breadcrumbs example / support"
Any hints how to do this?

Using https://getbootstrap.com/docs/4.0/components/breadcrumb/ as a starting point:
[code]

Appears as:

![image](https://user-images.githubusercontent.com/765871/76602263-84992800-6545-11ea-9a70-5e273405533e.png)

So obviously could be improved.

Many thanks!

[2020-03-14 19:21] krogusz commented on #174
Hi, I opened pull reuquest related to this issue. Do anybody know how to match this issue and the PR? :)

[2020-04-04 20:14] juancarlospaco opened #178 "input color style"
`<input type="color">` Style are weird, mostly on non-chromium based engines,
on Firefox and others the color line is ~2px really hard to see the chosen color,
go to [live demo](https://watercss.netlify.com) and change some input to `type="color"` with inspector and you can Repro the Bug.
I am developing a [Water-based Desktop GUI framework](https://juancarlospaco.github.io/webgui/#buitminusin-dar

[2020-04-11 02:07] kaihendry opened #179 "Video element not fitting width of page"
Here's a demo of the issue: https://dabase.com/blog/TASCAM-DR-40-noise/ (scroll to bottom)

[2020-04-17 20:28] FDiskas commented on #41
and.... it's dead :clock130:

[2020-04-21 21:29] acerspyro commented on #169
![image](https://user-images.githubusercontent.com/4400999/79915829-b4b1d180-83f5-11ea-8907-a2c8fbdeacb2.png)

[2020-04-25 09:35] southerntofu commented on #56
Thank you for building water.css it's making me love the web again! I just wanted to say from what i see here the main blocker for accessibility is low contrast.

There's this new trend throughout the design world to just make things unreadable to millions of people (including me), and it unfortunately found its way into water.css in a few areas, for example the footer.

As mentioned before, an [a

[2020-05-03 23:32] ethanpil opened #181 "Buttons have same BG color as table stripes"
When using a button inside a table cell the `--background` color variable is used for both and you cannot see the button on alternating rows.

Some ideas to address this:

- Swap default background for buttons to use `--background-alt` and then `--background` on hover
- add a border on buttons
- add a new color for buttons and hover

 Happy to submit a PR if you agree this is an issue and have a p

[2020-05-03 23:55] ethanpil opened #182 "Add support for <nav> tag?"
The[ `<nav>` tag](https://www.w3schools.com/tags/tag_nav.asp) seems like a great candidate for water.css as it is fully supported by all browsers and can be an easy way to create some navigational elements in the page. By default it could use some work, even in water.css!

IS this something you are interested in working on, or would accept a PR for?

[2020-05-04 02:44] ethanpil commented on #182
As a followup, I have implemented a proof of concept [in this JSFiddle](https://jsfiddle.net/ethanpil/kqbvpxdu/).

You can write `<nav>` as a simple list of links, or setup as a dropdown.

*Simple Nav*

[code]

*Nav with Dropdown*

[code]

Here is the SASS:
[code]

[2020-05-05 18:04] Shankhanil commented on #181
I would like to take a look.

[2020-05-08 15:03] flavianunes opened #184 "Should summary have a CSS cursor pointer?"
Since `<summary>` is clickable, seems natural to give it a `cursor: pointer`.

[2020-05-10 17:35] mdesantis commented on #41
<img src="https://media.giphy.com/media/XqpnXaeZPnupy/giphy.gif">

[2020-05-26 22:13] #36 closed

[2020-05-26 22:34] kognise opened #187 "Next Steps"
**EDIT: Here's the current checklist:**

- [x] Update the old jsdelivr url to the new one everywhere
- [x] Remake the file structure and docs #191
- [x] Add redirects from the github pages site #158
- [x] Update the demo site url to watercss.kognise.dev everywhere
- [x] Add the bookmarklet #20
- [x] Create a changeset and merge into master
- [ ] Publish 2.0

As far as I can see, here's the current

[2020-05-27 00:46] kimulaco commented on #187
Thanks for the draft of the next step!

I have additional opinions related to this.

I think it is better to create a release note when managing versions with npm in the future.　Because, the user has more strict control over the version of water.css.
Use [semantic-release](https://github.com/semantic-release/semantic-release) or similar library, you can automatically perform the following update w

[2020-05-27 00:49] kognise commented on #187
That sounds a lot better! Meanwhile, I'm having trouble getting @jonaskuske's pull request with the new gulp workflow working.

When I run `gulp` it says gulp isn't installed. When I install gulp, it says gulp-postcss isn't installed even though both of them are in the package.json. But when I install gulp-postcss, gulp gets uninstalled. Any idea what's conflicting? Maybe I'm just being stupid.

[

[2020-05-27 01:16] kylejrp commented on #187
I'm on my phone so this is a little brief, I can dig in deeper later.

I can go through these and merge or close where appropriate.

If I remember correctly, there's two sites - one on Netlify and one still on GitHub Pages. The GitHub Pages site is out of date for sure and should probably be a redirect to the Netlify site.

I think this is my fault, we removed the dist folder at one point and then

[2020-05-27 01:57] jonaskuske commented on #187
Hmm, I start to understand why some fb folks constantly complain about GitHub's lack of staggered PRs on Twitter 😄

Tough choice – I'd really like to see v2 get done and published and just creating one huge PR, somehow merging everything in more or less one swoop would certainly help there (actually I was considering to do just that in my own fork in the last couple days so interesting timing on t

[2020-05-27 02:00] kylejrp commented on #187
Here are the action items I can find for you @kognise:

- Modify the Netlify config to point to dist/docs to fix the Netlify build errors
- Merge this to remove the accidentally re-added dist folder https://github.com/kognise/water.css/pull/148
- Merge this to fix the gulp build error https://github.com/kognise/water.css/pull/140
- Merge this to add @jonaskuske's awesome version picker https://git

[2020-05-27 02:06] kognise commented on #187
Thanks for taking a look at this!

I disagree - I think we should continue pushing git tags so that existing sites running `@latest` will still get 2.0. If we have to we can copy some of the build files around to maintain backwards compatibility with the filenames.

I also agree with @jonaskuske, but imo the pros outweigh the cons of making one huge pull request.

I want to avoid making changes to

[2020-05-27 02:17] kylejrp commented on #187
Note that the original docs asked users to use `water.css@latest` and they haven't been getting updates as we switched to `dark.css@latest` and `light.css@latest`. I guess our docs have been showing the new links for a while though - so you're right that we should be maintaining compatibility for those using the newer `jsdelivr` links.

It's different means to the same end so it all works for me!

[2020-05-27 02:20] kognise commented on #187
100% agreed!

I just pushed the `two` branch and I'll get started merging the prs you mentioned.

[2020-05-27 02:22] jonaskuske commented on #187
I also think we should keep publishing git tags, if only because devs expect to find the version history (and changelogs!) on the releases page on GitHub.
But yeah, that means that the moment we add the v2 git tag, users will be hit by breaking changes. (but only then, I think we never recommeneded installing via `@master`)

For that reason I'd also suggest we recommend installation via `@1`, `@2`

[2020-05-27 02:23] kylejrp commented on #187
Awesome, thanks @kognise! 'm really excited to see what we can do to make water.css the best it can be. 😁

This! I'd hate to make breaking changes in the future that break a slew of websites that are on plain old `@latest`. 😅

[2020-05-27 02:23] kognise commented on #88
This was fixed in #90 which has been merged. <3

[2020-05-27 02:23] #88 closed

[2020-05-27 02:30] kylejrp opened #188 "Printing with Dark Theme should use Light Theme instead"
When printing with `dark.css`, most browsers will swap out the dark background for a light one, but the heading fonts will still remain a faded light color.

`dark.css` should have it's media query for the light variables changed to:
[code]

A similar line should be added to the `light.css` so that users with `prefers-color-scheme: dark` don't end up using the dark theme for printing too.

I'll wa

[2020-05-27 02:36] kognise commented on #101
This has also been fixed

[2020-05-27 02:36] #101 closed

[2020-05-27 02:37] kognise commented on #27
This has been fixed in 2.0 🎉

[2020-05-27 02:37] #27 closed

[2020-05-27 02:43] kognise opened #189 "Tidying Up"
While preparing for the release of 2.0 I noticed that a lot of our code is inconsistent, and a lot of the JavaScript is pretty hard to read.

I'm going to work on fixing up the JS, but we'll also have to update the CONTRIBUTING.md with the new directory structure with the `docs` folder.

It would also be nice to standardize versions and commit messages, @jonaskuske mentioned some things [in this c

[2020-05-27 02:47] kylejrp commented on #189
If we don't already have it configured, we should have a linter like Prettier that enforces code style.

[2020-05-27 02:49] jonaskuske commented on #189
The builds `light-legacy.css` and `dark-legacy.css` in `src/builds/` currently reference `jsdelivr@latest` – they should probably use relative URLs if that's possible?

[2020-05-27 02:54] kimulaco commented on #189
I've previously created a PullRequest that adds an EditorConfig.
I think this also helps keep the code consistent.

Issue: https://github.com/kognise/water.css/issues/144
PR: https://github.com/kognise/water.css/pull/152

[2020-05-27 03:07] anishanne commented on #182
Only problem I see with this is in the readme.md file.

![image](https://user-images.githubusercontent.com/22670462/82973532-aed77f00-9fa5-11ea-9511-52d131b35491.png)

[2020-05-27 03:14] kylejrp commented on #189
Making sure that the GitHub pages site redirects to the current version of the demo / version picker would also be important. See https://github.com/kognise/water.css/pull/158 for a `<meta>` redirect example.

[2020-05-27 04:45] kylejrp opened #190 "Review updated Chrome form controls for impact"
Chrome is updating their form UI:
https://blog.chromium.org/2020/03/updates-to-form-controls-and-focus.html

We may want to review to see if this breaks anything in water.css. We may need to reset some of the styling that Chrome is trying to do.

[2020-05-27 18:11] kognise commented on #144
332e8ce added an editorconfig.

[2020-05-27 18:11] #144 closed

[2020-05-27 18:12] kognise commented on #189
In commit 332e8ce I set eslint and stylelint up, added an editorconfig, and cleaner up some of the code a small amount.

Absolutely.

[2020-05-27 19:26] kognise commented on #189
I just initilalized Changesets and added it to our CONTRIBUTING.md along with info about linting. Now I'll work on adding the Changesets bot and setting up a CI workflow for publishing. I might also publish the current version of Water.css to NPM.

[2020-05-27 19:30] kylejrp commented on #189
The current version in master has breaking changes already, so make sure you publish it as a 2.0.0 to follow semantic versioning.

[2020-05-27 19:38] kognise commented on #89
I'm on macOS right now - is there a way for me to test this? If not would someone with ie11 mind jumping on this issue?

[2020-05-27 19:40] kylejrp commented on #89
If I recall correctly it has to due with IE11 not supporting the arrow function syntax.

You can manually convert arrow functions to the older syntax to fix it.

We should be looking to transpile the JavaScript on the demo page for IE11 compatibility similar to how our CSS build targets IE11 for CSS compatibility

I can test it this evening if nobody else can jump on it before then

[2020-05-27 19:48] kognise commented on #41
Moving the conversation to #187

[2020-05-27 19:48] #41 closed

[2020-05-27 19:49] kylejrp commented on #89
This wouldn't be strictly required for a 2.0 launch now that I think about it - it's just a bug in the demo site. Feel free to remove it from the milestone if you agree.

[2020-05-27 19:55] kognise commented on #187
Ight! Am I correct that this is all we have to do?

- [ ] Update the old jsdelivr url to the new one everywhere
- [ ] Add redirects from the github pages site (what's the best way to do this?)
- [ ] Update the demo site url to watercss.kognise.dev everywhere
- [ ] Create a changeset and merge into master
- [ ] Publish 2.0

I'm sorry for dragging this on for so long, thanks for sticking with it.

I

[2020-05-27 20:00] kylejrp commented on #187
You're on fire! 🔥🔥🔥 Awesome work!

Now's the time to review if we're happy with how the files are structured - it's harder to take back something we've shipped. We have `dark.css`, `dark_standalone.css` and `dark.legacy.css`. We should evaluate if we still want these names or if we want to drop some. I think that @jonaskuske said that the standalone doesn't make sense. I think we need the legacy o

[2020-05-27 20:07] kognise commented on #187
Naming is really hard! What about `dark-fallback.css`, `dark-forced.css`, and `dark-legacy.css`? But then we lose `dark.css` which means any semblance of backwards compatibility goes bye bye.

[2020-05-27 20:15] kylejrp commented on #187
I like keeping dark.css as an opinionated default. It's fine to keep that as using the native system theme.

[2020-05-27 20:16] kognise commented on #187
Makes sense, what do you think of `dark-forced` and `dark-legacy`? I also think it might be a good idea to update the ui to clarify that `dark` is just a fallback.

[2020-05-27 21:55] kylejrp commented on #187
I don't have any strong preference towards a specific name, I'm just more worried about *if* we should be having a file. @jonaskuske mentioned that the standalone might not make sense now that there's stronger browser support for `prefers-color-scheme`. I think I'd be looking for their advice on what versions we should keep around now.

[2020-05-27 22:46] jonaskuske commented on #89
Yeah, we need to transpile `script.js` and load `URLSearchParams` and `Promise` polyfills if the browser doesn't support them natively. I can take care of that, along with a general refactor/cleanup :)

[2020-05-27 23:25] jonaskuske commented on #187
Heh yep, thanks for the work on this @kognise @kylejrp!!

Hmm, I guess this was a misunderstanding – I just think that letting devs choose between Dark and Light *for the default version* would not make sense any more, because for 90% of users this choice would be overridden by `(prefers-color-scheme)` anyway. So I suggested that we update the UI to make it clear that the choice devs have only aff

[2020-05-27 23:29] kognise commented on #187
I've been reading through the documentation site's code and although Vue is very nice it seems like it's a bit overboard, especially since we're simplifying the version selector so much.

I'm going to make a separate branch for updating the code and file structure and then make a PR for a review opportunity.

[2020-05-27 23:29] jonaskuske commented on #190
I'm using the new Edge (based on Chromium) and had to add `line-height: 0` and `transform: translateX(-50%)` to `input::before`, otherwise the checkbox was off. Here, for reference: https://codepen.io/21stCenturyJonas/pen/QWjpxwG

[2020-05-27 23:31] kognise commented on #190
The codepen isn't working for me but I'll install edge and do some testing.

[2020-05-27 23:38] jonaskuske commented on #190
Oh, interesting... Are you using Safari?
Works in Chrome, Edge (old & new), Firefox and Opera for me

[2020-05-27 23:40] jonaskuske commented on #187
Yup, I initially reached for it because a declarative approach made coordinating the 8 different versions, their respective tooltip messages, code snippets and form state along with the transitions and the feedback for the copy button easier. (adding types with JSdoc was 100% unnecessary though 😅)

But yeah we can probably simplify all this and get rid of it.
(but we should definitely keep the Cop

[2020-05-27 23:58] kognise commented on #187
@jonaskuske should we keep the naming as legacy instead of ie? The normal versions *should* support ie11. Also, am I correct that in the legacy versions auto mode won't be supported?

[2020-05-28 00:00] kognise commented on #190
I'm using Brave.

[2020-05-28 00:04] jonaskuske commented on #187
The normal versions don't support IE11 as they use CSS variables to apply their theme.
And yep, auto mode in IE doesn't work as IE does not know about the `(prefers-color-scheme)` media query, `auto-ie.css` will always show whatever we decide is the default/fallback theme in IE (and other browsers that don't know about `(prefers-color-scheme)`).

[2020-05-28 00:11] jonaskuske commented on #190
Hmm, Brave does not allow CodePens to use `localStorage` :/
Fixed, it renders now

[2020-05-28 01:39] kylejrp commented on #187
Proposal: `auto.css` should just be the original `water.css`

IE11 also doesn't support CSS variables. If we wanted to keep IE11 compatibility in the main distribution, I think we could do some overloading like:

[code]

[2020-05-28 01:43] kognise commented on #187
I'm still not sure if `auto.css` would be more clear than `water.css` but I'll look into the best way to do the overloading.

[2020-05-28 01:46] kylejrp commented on #187
I'm just trying to stay on brand with the project name 😉

It would be interesting to look what we're gaining or losing from autoprefixing

[2020-05-28 01:55] kognise commented on #187
Here are the size changes for dark.css:

[code]

Looks like we're only losing 0.85kb with the autoprefixer and variable fallback inlining.

[2020-05-28 02:01] kylejrp commented on #187
The variable fallback inlining should also gzip really nicely since it's all duplicated content. I think jsdelivr does gzipping.

I think that less than 1kb is totally acceptable for the kind of change that reduces the number of files we distribute.

[2020-05-28 02:59] kognise commented on #187
I was going to make the PR and finish most of the other things in the
checklist but unfortunately a power outage hit

On Wed, May 27, 2020, 9:01 PM Kyle Pollard <notifications@github.com> wrote:

[2020-05-28 03:15] kylejrp commented on #187
Ouch! ⚡ No worries at all. Thanks again for all your hard work!

[2020-05-28 19:59] kognise commented on #187
Linking this to #191.

[2020-05-28 21:20] kognise commented on #20
I'm gonna add this to the 2.0 milestone.

[2020-05-28 23:09] kognise commented on #99
Fixed in b8142463a627abad4aca387b2531cbd3a6783a8e.

[2020-05-28 23:09] #99 closed

[2020-05-28 23:47] kognise commented on #84
This has been fixed in 2.0.

[2020-05-28 23:47] #84 closed

[2020-05-28 23:48] kognise commented on #145
The docs are being linted in 2.0 🚀

[2020-05-28 23:48] #145 closed

[2020-05-29 00:31] kognise commented on #190
I fiddled around a bit with styles, this is the best I could get it across browsers.

Chrome Canary:
![](https://doggo.ninja/WOwGAN.png)

Edge:
![](https://doggo.ninja/li1no1.png)

Brave:
![](https://doggo.ninja/JU1xNl.png)

Safari:
![](https://doggo.ninja/EgE2lz.png)

Keep in mind I was only able to test on macOS so it might be screwed up on other platforms.

[2020-05-29 00:40] jonaskuske commented on #190
I can check and add screenshots for pre-Chromium Edge and IE11 tomorrow :)
Also, these are just radio buttons – how are checkboxes doing?

[2020-05-29 00:42] kognise commented on #190
Thanks! Checkboxes look exactly the same.

[2020-05-29 04:09] kognise commented on #189
Gonna close this because we now have linting, husky, an editorconfig, and updated the file structure. 🚀

[2020-05-29 04:09] #189 closed

[2020-05-29 04:17] kognise commented on #20
I added the bookmarklet code as suggested by @jonaskuske to the repo in 9fb32259b93a99c584177b42ddf23cbbb8989ae5, but I'm gonna wait til #191 is merged to update the documentation site to avoid conflicts.

Is there a better way to generate the bookmarklet then to manually use Bookmarkleter?

[2020-05-29 19:18] jonaskuske commented on #190
Edge Legacy:
![image](https://user-images.githubusercontent.com/30421456/83296824-b3907300-a1f1-11ea-9d44-893cdb1a15b7.png)

Internet Explorer:
![image](https://user-images.githubusercontent.com/30421456/83296866-c7d47000-a1f1-11ea-84e0-23f459ce88b7.png)

(JS doesn't load though...)

[2020-05-30 03:07] jonaskuske opened #193 "Add emoji fonts to font stack"
Need to create a repro, but I added this utility to the docs site stylesheet for a reason:

![image](https://user-images.githubusercontent.com/30421456/83318168-7d271800-a232-11ea-9bbc-cd80ee4320ea.png)

Without allowing the browser to fall back to the system's emoji font, some glyphs don't render at all or use some weird tiny black-and-white fallback. (and even when adding those fonts, a few emoj

[2020-05-30 03:29] jonaskuske commented on #193
Hah, a possible repro was *right there*, if only I had scrolled on the docs page earlier...
![image](https://user-images.githubusercontent.com/30421456/83318574-59fe6780-a236-11ea-8baa-4c4ccc049b55.png)

when adding `, 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji'` to the end of the stack:

![image](https://user-images.githubusercontent.com/30421456/83318591-7f8b7100-a236-11ea-93ae-91d

[2020-05-30 03:38] kognise commented on #20
Added this in c940d74d10eb62a2b347ea2d9dc158d500ea9710! <3

[2020-05-30 03:38] #20 closed

[2020-05-30 04:25] kognise commented on #193
Fixed in 7a656de78e74fabb0b38f8ae1628fcc1cec30b16 :rocket:

[2020-05-30 04:25] #193 closed

[2020-05-30 11:21] DmitryOlkhovoi opened #195 "CDN css files aren't full"
This CSS file didn't have all styles
https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css

[2020-05-30 17:16] kylejrp commented on #195
Hey Dimitri,

We're just working on a new release of water.css that should have all the styles you're looking for. Keep your eyes on #194 for the details! We'll also be publishing to npm once we release the new version too.

Sorry that you ran into this problem!

[2020-05-30 17:16] #195 closed

[2020-05-30 18:46] kognise commented on #142
Imo a pre-commit hook to run `yarn lint` is fine for now, but I'm happy to leave this conversation open to a second opinion.

[2020-05-30 18:47] kognise commented on #143
Imo a pre-commit hook to run `yarn lint` is fine for now, but I'm happy to leave this conversation open to a second opinion.

[2020-05-30 18:48] kognise commented on #160
This has been fixed in 2.0 🚀

[2020-05-30 18:48] #160 closed

[2020-05-30 18:48] kognise commented on #169
In 2.0 we reverted to stock radio buttons and checkboxes, so I'm gonna close this for now.

[2020-05-30 18:48] #169 closed

[2020-05-30 18:50] kognise commented on #173
This has been fixed in the upcoming 2.0 release! Also, I believe it's a duplicate of #160.

[2020-05-30 18:50] #173 closed

[2020-05-30 18:50] kognise commented on #188
This has been fixed by #192 :^)

[2020-05-30 18:50] #188 closed

[2020-05-30 18:52] kognise commented on #146
In 2.0 we're linting JavaScript inside HTML but not checking the HTML for validity. I'm gonna keep this open, but it isn't important enough to be part of 2.0.

[2020-05-30 19:24] kylejrp commented on #142
I think the pre-commit hook is fine. Would a GitHub action to lint before merging give us more benefit? Like is there a way that an unlimited change could sneak in?

[2020-05-30 19:43] kognise commented on #142
I think for now it's fine, but if we end up making an action to automatically publish the package based on changesets we should make sure to lint just in case.

Gonna close this for now.

[2020-05-30 19:43] #142 closed

[2020-05-30 19:55] kylejrp commented on #142
Sounds good. I'm going to close #143 as well since this discussion also applies there.

[2020-05-30 19:55] #143 closed

[2020-05-30 20:00] DmitryOlkhovoi commented on #195
Thanks!

[2020-05-30 21:47] jonaskuske commented on #89
This is fixed in 2.0 (#194) – `script.js` is transpiled now and I've made sure that we only use APIs that are available in IE, e.g. `child.parentElement.removeChild(child)` vs. just `child.remove()`. Also, a polyfill for the async clipboard API and Promise is loaded if necessary.

Only (minor) issue that remains is that our Lint rules (which require us to use ES6 arrow functions) apply to inline `

[2020-05-30 21:47] #89 closed

[2020-05-30 22:12] zachvalenta commented on #160
I'm still getting the same behavior from 2.0; not sure if I'm making some dumb obvious mistake though.

This html (copied the footer markup from the [example site](https://watercss.netlify.app/)) :

[code]

is rendered like this:

![Screen Shot 2020-05-30 at 6 10 56 PM](https://user-images.githubusercontent.com/11388735/83339957-f1000980-a2a0-11ea-95e6-796610ccbbea.png)

[2020-05-30 22:24] jonaskuske commented on #160
2.0 isn't published yet (we're working on it!), so `water.css@latest` still gives you the old styles. You can subscribe to "Releases only" for this repository if you wan't to be notified when 2.0 is published. :)

![image](https://user-images.githubusercontent.com/30421456/83340151-02fb9f80-a2d5-11ea-8965-4a781747f775.png)

[2020-05-30 22:43] kognise commented on #179
Fixed this, sorry for taking so long :)

[2020-05-30 22:44] #179 closed

[2020-05-30 22:58] zachvalenta commented on #160
Confused how 'latest' is also simultaneously 'old'.

IMO more clear to close issue once work is actually merged but just my two cents.

[2020-05-30 23:01] kognise commented on #160
We haven't published 2.0 yet, and latest refers to the latest published release.

[2020-05-30 23:05] jonaskuske commented on #160
You're absolutely right. Only closing issues once they're on master, and making sure that master is published regularly so it's always matching the latest published version is the way to do things – and we'll have that once 2.0 is live!
For now, closing issues that we already addressed in our 2.0 branch helps us with housekeeping and publishing 2.0 faster. 👍🏻

[2020-05-30 23:11] zachvalenta commented on #160
Fair point as well. Realize you guys are putting a lot of work in to make 2.0 happen and I (and all the other happy users) appreciate it. Keep up the good work.

[2020-05-30 23:35] kognise commented on #56
It looks like the only contrast issue on our new demo page (according to [WAVE](https://wave.webaim.org/report#/https://deploy-preview-194--watercss.netlify.app/)) is low contrast in citations which can be easily fixed.

I'll try to find a good way of detecting these issues in our build pipeline.

[2020-05-30 23:48] kylejrp commented on #56
I was looking at [pa11y](https://github.com/pa11y/pa11y) the other day. There's also a build plugin for Netlify that uses pa11y to warn/error on accessibility issues.

[2020-05-30 23:54] kognise commented on #56
Yeah, I setup pa11y - any idea what the best way to simulate different prefers-color-scheme values? I'll look into it.

[2020-05-30 23:58] jonaskuske commented on #56
Does pa11y use puppeteer or something similar to look at pages, or does it just inspect the plain HTML?

If it actually renders the page we could re-introduce the query param the original version picker offered, so you could do `?theme=(auto|dark|light)` when visiting the docs site

[2020-05-31 00:01] jonaskuske commented on #56
Just checked their Readme and they mention puppeteer, so the query param could work.

Also [they have an `actions` array as a beta feature](https://github.com/pa11y/pa11y#actions-array-beta), where you can specify what the simulated user should do prior to testing the site. We could use this to trigger a click on Dark Theme / Light Theme!

[2020-05-31 00:07] kognise commented on #56
@jonaskuske I believe it uses puppeteer judging by the dependency list, but right now I'm running it on a local file like `pa11y ./dist/docs/index.html` which means no query strings.

[2020-05-31 00:10] kognise commented on #56
There's a [thread](https://github.com/puppeteer/puppeteer/issues/4906) in the puppeteer repo about emulating prefers-color-scheme, and it's possible to give pa11y a custom browser instance so I think that's the way to go.

[2020-05-31 00:14] jonaskuske commented on #56
Alright then, hope that works!
Otherwise the actions array should probably do the trick:

[code]

[2020-05-31 01:47] kognise commented on #56
Fixed by #199, not sure why this didn't get automatically closed.

[2020-05-31 01:47] #56 closed

[2020-05-31 01:57] jonaskuske commented on #56
@kognise because issues are only closed automatically once the respective commit/PR that closed them reaches a repository's default branch, which currently is set to master

[2020-05-31 04:13] jonaskuske commented on #147
@kylejrp What exactly do you mean by this? Isn't that covered by the theming section in the Readme?

[2020-05-31 04:15] kognise commented on #147
Correct me if I'm wrong but I think this issue is from before that was added to the readme?

[2020-05-31 15:40] jonaskuske commented on #147
fixed in 2.0 (#194)

[2020-05-31 15:40] #147 closed

[2020-05-31 15:50] jonaskuske opened #203 "::selection makes --text-muted barely visible"
Both the `::selection` color and `--text-muted` are a sort-of similar shade of gray, so selecting text that's muted, e.g. a `<footer>` / `<cite>` means the text becomes very hard to read.

[2020-05-31 16:05] jonaskuske commented on #184
This was fixed in 1c7806c5182be87878fb6bab297c738535a4a6cc and will be shipped with 2.0!

[2020-05-31 16:05] #184 closed

[2020-05-31 21:12] kylejrp commented on #56
I will mention that if there are specific accessibility issues that we haven't caught with pa11y, we would love to see a new issue logged for them! It's important to make water.css as inclusive as possible. ♥

[2020-06-02 05:36] kylejrp commented on #203
Not so great on the light theme: (Color contrast ratio of 1.69)
![image](https://user-images.githubusercontent.com/6742479/83483312-30705680-a457-11ea-8f45-f4ab1527b8d9.png)

Better, but still not great on the dark theme: (Color contrast ratio of 2.18)
![image](https://user-images.githubusercontent.com/6742479/83483279-2189a400-a457-11ea-84c9-e632899f66cc.png)

To fix, we would need to update the

[2020-06-02 08:08] jonaskuske commented on #203
We could also use a different selection color by changing the selection color everywhere we use `--text-muted`. Something like this:

[code]

[2020-06-11 19:30] ethanpil commented on #182
@kylejrp are you maintaining the project now and will accept a PR?

[2020-06-11 23:41] kognise commented on #182
Hey - we're likely going to merge this after the 2.0 release, you can keep track of that in #194

Sorry for the slowness ❤️

[2020-06-15 08:49] avanigup commented on #175
what imrpovement is needed?

[2020-06-21 00:38] joplomacedo commented on #78
This would be a perfect place to use the new `:where` selector. Something like:

`input:where(:not([type='checkbox']):not([type='radio'])) { ... }`

`:where()` and whatever is included inside the `:where()` are ignored in the specificity calculation. So effectively that like above would have the same specificity as  just `input`

The bad news is that it's still only supported in safari and firefox

[2020-06-29 13:49] habeckmatt commented on #203
Is this bug up for grabs?

[2020-06-29 15:21] kognise commented on #203
@habeckmatt absolutely! If you wouldn't mind, can you edit `two` branch? We can merge this alongside #194

[2020-06-29 16:34] kylejrp commented on #203
@habeckmatt And don't forget to ask for any help if you need it, especially if you're having trouble navigating or building the repository. We're here to help!

[2020-06-29 17:22] habeckmatt commented on #203
So in this instance, would just changing the --selection color in variables-dark.cs and variables-light.css? Or should I go with what jonaskuske suggested and changed every spot where --text-muted is located?

[2020-06-29 17:32] kognise commented on #203
Maybe consider adding a line to the styles of `::selection` to override the color?

[2020-06-29 17:34] habeckmatt commented on #203
I also have another question about how to clone the two branch and make changes there as kognise suggested. I was able to fork and clone the repo locally, but I don't see a branch 'two'.

[2020-06-29 17:35] kognise commented on #203
That's weird - what's the output of your `git branch` command?

[2020-06-29 18:13] habeckmatt commented on #203
I think I was able to resolve that issue. I'm not seeing the *two branch showing.

[2020-06-29 18:15] kognise commented on #203
Np :)

Feel free to ask if you have any other questions, that's why we're here!

[2020-06-29 18:41] habeckmatt commented on #203
So far I've just added: 'color: var(--text-bright);' to ::selection. I double checked on webaim.org and the contrast ratios were 4.71 for dark and 7.83 for light. Not sure if this is a wise stylistic choice or if I should change the '--selection:' color?

[2020-06-29 18:44] kognise commented on #203
Mind making a PR and including screenshots? I can mark it as WIP and we can work from there 🤗

[2020-06-29 18:55] kylejrp commented on #175
I imagine that they are looking for something like Bootstrap does for breadcrumbs:
![image](https://user-images.githubusercontent.com/6742479/86043789-08482900-b9fe-11ea-8bba-ba9eb87eb039.png)

The challenge we face here is that water.css doesn't support adding any classes to your markup, so we would need to find a semantic way to structure the breadcrumbs. CSS Tricks offers an article about this

[2020-06-29 19:07] habeckmatt commented on #203
Ok. So far I committed the changes to the 'two' branch in my forked repository, and the changes appear there. How do I make a pull request to your 'two' branch?

[2020-06-29 19:42] kylejrp commented on #203
@habeckmatt You'll want to make sure that you've pushed your commits to your fork on GitHub, right now I think that they're just local changes on your computer. Once you've pushed, you should be able to [follow these steps](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork) to make a pull request with a base of `kognise/water.css two`

[2020-06-29 21:11] habeckmatt commented on #203
Perfect, I think I got it.

[2020-06-30 07:16] kaihendry commented on #175
Actually I got what I want via nav https://github.com/kaihendry/blog/commit/02edfa2c280ad47e7d9ec1345d3aa8ef7376d181

[2020-06-30 07:16] #175 closed

[2020-07-04 01:12] kylejrp commented on #203
Closed by #210

[2020-07-04 01:12] #203 closed

[2020-08-28 16:03] ruchikamuddinagiri commented on #181
Hi, I would like to work on this. Could you guide me as to where I might find this in the codebase?

[2020-08-28 16:14] ruchikamuddinagiri commented on #181
I am not able to replicate this issue.
Attaching the screenshot below:
![image](https://user-images.githubusercontent.com/52284361/91589547-82058000-e977-11ea-9094-e2140172b112.png)

[2020-09-22 23:32] isuckatprogram opened #214 "Water.CSS breaks text align for inputs."
In my CSS file, I have a file called ``style.css`` and on the style, body is assigned to ``text-align: center`` but when I put water.css into my website it breaks the text align for inputs and they are not aligned but everything else is.

[2020-09-28 06:54] aastha0507 commented on #146
Can I fix this issue?

[2020-09-28 07:04] Bhavik-Ardeshna commented on #182
Hey I am working on this issue !!!!

[2020-09-29 04:43] ashikvarma11 commented on #80
@kylejrp @prachi-28 @prasannabisen @kognise   Anybody working on this right now? If not, I would like to try it.

[2020-10-01 14:19] kognise commented on #214
This is because inputs are `display: block` - it might help to make the body a flexbox container and align everything center. I'm gonna close this because it isn't really an issue but feel free to ask questions in this thread.

[2020-10-01 14:19] #214 closed

[2020-10-01 15:05] kognise opened #218 "Attn: Hacktoberfest contributors"
We love y'all! But right now we're trying to get a giant pull request merged that would void a lot of your contributions.

Please try to hold off on contributing until #194 is merged - comment if you have any questions :)

[2020-10-01 15:14] #190 closed

[2020-10-01 18:02] #187 closed

[2020-10-01 18:15] #218 closed

[2020-10-01 18:19] #149 closed

[2020-10-01 19:41] #174 closed

[2020-10-01 22:43] dimshik100 commented on #31
Hi
I want to try and add support for this.
Can you please assign me?

[2020-10-01 22:55] kognise commented on #31
@dimshik100 done- good luck!

[2020-10-02 14:09] kognise commented on #178
Fixed by #222

[2020-10-02 14:09] #178 closed

[2020-10-02 17:38] #139 closed

[2020-10-02 17:45] #32 closed

[2020-10-03 04:49] kodebae commented on #181
Has this issue been fixed yet? I would like to take a look at this for you.

[2020-10-06 22:20] rubissima commented on #78
I've been looking into this, because it's just the kind of nerdery that I enjoy. Or at least love to hate.

I experimented with something I found here: https://csswizardry.com/2014/07/hacks-for-dealing-with-specificity/, which was new to me: if you double the class name, you get double the specificity. So `.hidden.hidden` is twice as specific as `.hidden`,  `.hidden.hidden.hidden` is 3x the specif

[2020-10-08 06:11] kylejrp opened #227 "Missing sourcemaps in npm distribution"
Looks like the sourcemaps may be missing from the `/out/` folder in the npm distribution. Here's what it looks like in my `/node_modules/` folder:
![image](https://user-images.githubusercontent.com/6742479/95421351-27563100-08f2-11eb-9bd9-15d633d92d31.png)

This also seems to break sourcemaps for jsdelivr:
https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css.map

[2020-10-08 07:30] jonaskuske commented on #227
Hmm yep, seems like we're explicitly only publishing CSS files and the license, not the entire `out/` directory.
https://github.com/kognise/water.css/blob/master/package.json#L77

Should be an easy fix :)

[2020-10-08 14:53] kognise commented on #227
Great catch! I think I'll just include this in my post-2.0 changes pr.

On Thu, Oct 8, 2020, 3:30 AM Jonas <notifications@github.com> wrote:

[2020-10-09 04:07] kylejrp commented on #146
Closing since 2.0 has a `validation` script that handles this now.

[2020-10-09 04:07] #146 closed

[2020-10-09 04:16] kylejrp commented on #80
I'm not sure if anyone has started working on this issue, but I'd love to review any WIP pull requests if you open them up. The "Tutorial" documentation should be a separate pull request from the "Reference" documentation I mentioned before. We can all collaborate once we have a starting point!

[2020-10-09 04:24] kylejrp commented on #182
What's the "semantic HTML" way of using `<nav>`? Probably one or more `<ol>` or `<ul>` containing `<li><a href="..."></li>`, right? I'm not sure if there's weirder valid ways to use it though 🤷‍♂️ The common case is probably fine

The [MDN article on `<nav>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav) has some nice usage notes to keep in mind:

The changeset on the pull request

[2020-10-09 04:51] #181 closed

[2020-10-09 04:56] kylejrp opened #228 "Accessibility of Buttons?"
#225 fixed the buttons colors being indistinguishable in tables, but when I checked the color contrasts, they're still a little lacking.

I'm thinking that we need to make the color contrast even stronger. Here's the contrast ratio I'm seeing in each theme/background combination using a [contrast checker](https://webaim.org/resources/contrastchecker/):
![image](https://user-images.githubuserconten

[2020-10-09 11:48] jonaskuske commented on #182
Yeah, the typical way is

[code]

...potentially with a label for the navigation landmark, and I've also seen the `aria-current="page"` attribute to specify the currently active link/page. Here's the authoring example from ARIA 1.2: https://www.w3.org/TR/wai-aria-practices-1.2/examples/landmarks/navigation.html

[2020-10-09 12:29] HimanshuPandey2002 commented on #228
Hey can I work on this issue, I dont have much experience in Open source but I want to contribute so i think this issue would be perfect for me as I work on frontend a lot, you can see my work [here](https://github.com/HimanshuPandey2002l)

[2020-10-09 17:27] kylejrp commented on #228
Awesome, go for it @HimanshuPandey2002! Feel free to open up a WIP pull request if you need feedback and feel free to ask any questions if you need help. You might want to review the changes made in #225 as they made some changes to how buttons work in tables.

Good luck!

[2020-10-10 04:28] imsky003 commented on #228
hey @kylejrp  i can make light button in your dark mode, if you are intrested please let me do pull request so that i can gain more pull request in Hacktoberfest event

[2020-10-10 04:35] HimanshuPandey2002 commented on #228
Thanks @kylejrp Im on it.

[2020-10-12 05:53] kylejrp commented on #182
I know that breadcrumbs are sometimes done with `<nav>` to be semantic, [for example](https://www.w3.org/TR/wai-aria-practices/examples/breadcrumb/index.html):

[code]

So we would probably need to make sure that a `nav` implementation would be generic enough to handle both from both a styling perspective and a design perspective.

Nested lists/navs might be out of scope but it would be cool if th

[2020-10-12 07:40] ipelekhan opened #231 "Dialog is not working in Firefox"
Hi, seems like `Show me the dialog` button is not working in Firefox. Tried the latest version without any extensions. Chrome works fine.

[2020-10-13 22:11] kylejrp commented on #231
Yes, the `<dialog>` element is not supported in Firefox without enabling a flag. Looks like it's also unsupported in Safari:
https://caniuse.com/dialog

If this is affecting a project you're using Water.css with, you could look at including a polyfill for the `<dialog>` element, like https://github.com/GoogleChrome/dialog-polyfill

Browsers not having support for elements that we style is out of s

[2020-10-13 22:11] #231 closed

[2020-10-13 22:14] kylejrp opened #233 "Add documentation for elements Water.css supports that some browsers don't"
See #231 for context

We should include in either the example page or our readme that we style some elements like `<dialog>` that are not supported by other browsers. You can check [caniuse](https://caniuse.com/dialog) for browser support for HTML elements.

We would take a pull request that would add this to the documentation. Ideally, you would check all the HTML elements in the example page and

[2020-10-13 22:17] kylejrp commented on #167
I'm not a designer either but I think you raise a valid point. I'd also want to see if there were any accessibility concerns with our font readability.

@kognise could chime in on the typography design decisions.

Thanks for logging the issue!

[2020-10-14 06:07] PawanKolhe commented on #233
I can work on this. Please assign it to me.

[2020-10-17 03:43] Pedroemanuelavelar commented on #233
Hello done check out the pull request! Please return feedback

[2020-10-17 13:04] Pedroemanuelavelar commented on #233
Add this issue for me i already finished it

[2020-11-02 21:58] PeeyushRawat commented on #233
Assign this to me! also please guide me.

[2020-11-20 13:24] hovancik opened #236 "Firefox looks weird vs Chrome"
Hi there,

wanted to update to v2 when I noticed the demo looks a bit off on Firefox for me

Left is Chromium, right is Firefox 83 (Debian Sid)

![image](https://user-images.githubusercontent.com/4745859/99804924-06613c80-2b3c-11eb-8928-f13088c3e289.png)

[2020-11-20 14:23] jonaskuske commented on #236
Hmm, very strange indeed!
Can't reproduce this myself unfortunately, don't have a Debian Sid machine to test 😕
(but looks fine for me in Firefox Windows, macOS and Ubuntu 20.04 & Debian Buster via WSL + VcXsrv)

[2020-11-20 14:38] hovancik commented on #236
Yeah, actually looks normal in Ubuntu for me as well. Probably then problem with Firefox build in Sid.

[2020-11-20 15:11] #236 closed

[2020-12-03 07:53] ivan-kleshnin opened #237 "Box-sizing?"
Was surprised to not find the following (or something similar) in the code:

[code]

I think it's included it every reset library I'm aware of.

[2020-12-07 22:58] Brettasearle commented on #237
I can add this!

[2020-12-08 22:39] jonaskuske commented on #237
Yeah, it's not included because this isn't a general-purpose *reset library*, it's "just" a set of default styles you can apply to your vanilla document to make it look nice by default, so it only includes style rules that are necessary to achieve that goal. Other popular CSS libraries with a similar goal would be [sakira](https://github.com/oxalorg/sakura), [mvp.css](https://github.com/andybrewer

[2020-12-08 22:55] kylejrp commented on #237
My gut feeling is not to include because this feels like a breaking change for anything built on top of water.css, but I could be convinced otherwise! I know I had a similar thought early on in the project to include this but I never pushed for it

[2020-12-13 18:58] adeleke5140 commented on #237
what issue is this about? I'd be glad to get clarifications so that I could work on it

[2020-12-29 04:40] Ascor8522 opened #239 "Input type="reset" lacks button styling"
Hi,
Noticed the `input` tag, when having the `type` attribute set as `reset` (when resetting a `form` for example) doesn't have the same behavior as the other buttons.

## Actual Behavior
The input:
- [x] has a darker background color, like a button
- [x] has rounded corners, like a button

## Expected behavior
The input should:
- [ ] get brighter when hover by the mouse cursor
- [ ] turn the curs

[2021-01-04 16:23] itsdeekay commented on #237
Hi @adeleke5140
This issue is regarding use of famous box-model as default model to style the html elements. @kylejrp  is looking for some approach or genuine reason to add this as default box-sizing style.

[2021-01-04 16:39] itsdeekay commented on #239
Hi @kylejrp / @

Please assign this to me. I am new to open source community and I have just created a pull request for this issue.

[2021-01-08 15:20] itsdeekay commented on #239
Hi @jonaskuske
I have submitted the pull request. Please review and let's close this issue.

[2021-01-08 20:03] jonaskuske commented on #239
@itsdeekay
Merged, thanks for the contribution! (:

[2021-01-08 20:03] #239 closed

[2021-01-08 20:04] jonaskuske commented on #239
Pinging @kognise as he'll have to publish the new version
(we don't have an automatic Git/CI based publish workflow yet and he's the only one with publishing rights for the npm package)

[2021-01-09 07:12] itsdeekay commented on #239
Cool, thanks!

On Sat, Jan 9, 2021, 1:34 AM Jonas <notifications@github.com> wrote:

[2021-01-24 18:50] peter-veres opened #242 "Dialog styles not included"
The styles for the `<dialog>` tag are not included in the stylesheet published on CDN

`<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">`

[2021-02-01 00:07] ewolfe opened #244 "css map is missing"
`DevTools failed to load SourceMap: Could not load content for https://cdn.jsdelivr.net/npm/water.css@2/out/water.css.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
`

[2021-02-16 20:13] joeyouss commented on #80
Hi! Searching for good first issues I stumbled upon this and it seems the issue it still up for grabs. Can I try this ?

[2021-02-17 21:49] luke2m commented on #18
Has anyone worked on this? I would be willing to try (I am not too familiar with Jekyll, but have used it a bit).

[2021-02-18 08:58] mic-max opened #245 "::-webkit-details-marker pseudo element selector is deprecated"
I see this error in the console on Edge and Chrome 90.
[Deprecation] . Please use ::marker instead. See [https://chromestatus.com/feature/6730096436051968](https://chromestatus.com/feature/6730096436051968) for more details.

Changes to be made:

- `src/parts/_misc.css` - Replace `summary::-webkit-details-marker` with `summary::marker`
- `src/parts/_print.css` - Delete `summary::-webkit-details-ma

[2021-02-18 09:30] jonaskuske commented on #245
I think for now we'll want to keep both selectors around for browser support – though autoprefixer might just do that for us automatically, even if we only keep `::marker` in the codebase

[2021-02-18 14:13] kcclemo commented on #18
@luke2m I submitted a pull request a while back but haven't had time to create a more polished version of the template. Feel free to take a look at my branch and make any improvements you want.

My goal is to eventually publish a Ruby gem so that users can simply add something like `water-css` to their Jekyll config and the site will build with the Water CSS framework automatically.

[2021-02-18 15:56] luke2m commented on #18
@kcclemo I’m sure that I’m missing something, but where is your code? kcclemo:master does not seem to be ahead of kognise:master.

[2021-02-18 16:01] kcclemo commented on #18
@luke2m My original pull request was in 2019 so it is a bit out of date. You can view the files in this commit though:
https://github.com/kognise/water.css/commit/03d8a6561087dc56b65d2577c63d7b9cc8c8b2d9

[2021-02-18 16:15] luke2m commented on #18
It looks like you did a lot of good work. Is there a branch or repo that I can contribute to, or should I start a fresh one based on your files?

[2021-02-18 17:13] kcclemo commented on #18
At this stage, I would recommend starting from scratch. Both Water.css and Jekyll have undergone quite a bit of development since 2019. 😅

If you need any advice, feel free to reach out. I've been working with Jekyll for quite a while and love it.
Here's a guide to publishing a Jekyll theme as a Gem incase you decide to go that route:
https://thebot.net/threads/how-to-create-and-publish-a-jekyll-t

[2021-02-19 00:06] luke2m commented on #18
@locness3 and @kognise you wanted a simple Jekyll like Cayman, right, not a personal portfolio/blog theme like Minima?

[2021-02-19 09:09] locness3 commented on #18
Yes.

[2021-02-19 14:52] luke2m commented on #18
My progress:

https://github.com/luke2m/watercss-jekyll
https://luke2m.github.io/watercss-jekyll/

[2021-02-19 22:01] kcclemo commented on #18
You're off to a great start!

[2021-02-19 22:19] luke2m commented on #18
@kcclemo It is working as a `remote_theme` only if I specify `@thecommitnumber` after my repo name, e.g. `remote_theme: "luke2m/watercss-jekyll@697f71518d504e98889dd3a01c61531cf5916001"`.
Is there a way around that? I think that github is looking for the latest on `master`, not `main`.

[2021-02-26 00:52] luke2m commented on #18
I've published to rubygems as `water-css`, and I would appreciate any feedback. It is definitely tailored to GitHub Pages now, but if anyone has interest in a more general purpose theme, let me know.

[2021-03-06 05:43] AnshumanPadiya commented on #31
Hello, I just looked over this issue and I am interested in contributing to it ( if it is still open to contribute), could you please specify which tag I should start contributing to first as mentioned above.

P.S. - I am really excited to try contributing to this since it's going to be my first open-source contribution.

[2021-03-17 19:49] eugenesimakin commented on #244
Looks like a duplicate of #227

[2021-03-30 03:26] ashikvarma11 commented on #31
@kylejrp Anybody working on this issue right now? If not, I would like to resume from where @asoback left off.

[2021-04-01 12:35] morgs32 commented on #100
Can you make it optional? The scrollbar is the one thing I would leave alone. Surprised this was worth the code?

[2021-04-01 12:41] morgs32 commented on #100
You cannot even unset these properties: https://stackoverflow.com/questions/9060421/css3-how-to-restore-webkit-scrollbar-property-to-the-default-scroll-bar

[2021-04-01 17:07] kognise commented on #100
This is the main reason I've opted to not include any sort of styling like this in Water.css - sorry for the lack of communication on this. It's a very easy change to make if you need to make it and I don't believe warrants being added to the base stylesheet, especially because for non-scrolling pages a persistent scrollbar might be considered ugly.

[2021-04-01 17:14] morgs32 commented on #100
Styling like what? Are you proposing a PR to remove the scrollbar code?

[2021-04-01 17:22] kognise commented on #100
Oh, I see, you're talking about something completely different from the original issue. I don't currently have any plans to change the scrollbar.

[2021-04-01 18:08] morgs32 commented on #100
Aww you know how sensitive engineers get when you tell them their comments are erroneous or irrelevant. Which is to say, should I have opened an issue "Scroll bar is causing layout shift... and not styling it is how I suggest we resolve it".

That aside, I'm quite grateful for the work you're doing. I'm sure this is all a nuisance.

[2021-04-01 21:09] kognise commented on #100
Oh not a nuisance at all! I'm doing my unfortunate thing where I'm busy with tons of things and haven't given enough time to this. Just got a bit confused.

I'm gonna close this issue but if anyone wants to start a separate discussion about scrollbars feel free to make a new issue.

[2021-04-01 21:09] #100 closed

[2021-04-07 12:02] ccxvii opened #248 "font-family is weirdly specific leading to bad spacing"
The font-family list in the stylesheet is both too long and weirdly specific, yet incomplete. I don't have any of these very specific Windows, Apple, or Android fonts installed on my machine, so it picks the first one it can find which is "Noto Color Emoji" and uses that as the main font. The end result that all the space characters are about two miles wide, and the rest is rendered using the brow

[2021-04-07 14:32] kognise commented on #248
The long font list is there for a reason - many default browser `sans-serif` fonts are unattractive so it provides a list of sensible defaults. However, when making this I did just take one already being used online and didn't fully consider what would happen if none of the standard fonts were available.

I'll probably just take your advice on this:

[2021-04-09 02:27] misa335 commented on #80
@kognise @kylejrp Is anybody working on this issue? If not, I would like to!!

[2021-04-10 15:22] scottjmaddox opened #249 "Issue with "Noto Color Emoji" on Firefox / Linux"
A reader of a blog post I wrote [complained about a styling issue](https://lobste.rs/s/rqc2sj/introducing_dawn_part_1#c_p1tzb9) with `water.css`. His comment includes a link to an image. It appears to be an issue on Linux Firefox.

It [sounds like](https://lobste.rs/s/rqc2sj/introducing_dawn_part_1#c_nlurzw) removing that font from the CSS fixes the issue. I'm not sure what the other consequences

[2021-04-10 15:25] kognise commented on #249
Closing because duplicate of #248 - I'll try to fix ASAP, sorry!

[2021-04-10 15:25] #249 closed

[2021-05-10 18:18] easrng commented on #248
Just use `-apple-system, system-ui, sans-serif`, it uses the system font on all recent browser and falls back to sans-serif when the system font isn't available. (Old browsers, mostly.) Including the emoji fonts is not necessary because the emojis "fall through" to the system emoji font anyway.

[2021-05-31 21:43] soham283 commented on #248
I would like to work on this issue, can you please assign me this issue?

[2021-06-01 07:22] omnaladkar commented on #248
i want to work on this can you assign me

[2021-06-08 07:24] prsmahajan commented on #248
Hi, I would like to work on this issue, Can I get started with this?

[2021-07-09 21:39] swarup4741 commented on #248
Link your own font of choice (may be google fonts or your own custom fonts) using link tag before you link your stylesheet

[2021-07-21 08:37] yommyrichards opened #253 "CSS"
Css design for site

[2021-07-22 20:43] sapatgit opened #254 "add issue template"
Maybe create an issue template? Was going throught the open issues, and not to call out on anyone but found this #253, and maybe an issue template would help people create better issues?

[2021-08-07 16:30] Bradshaw opened #255 "Inconsistent permissions on output files"
There are inconsistent permissions set on the generated files placed in `out/`

<details>
  <summary><code>ls -l out/</code> command displaying inconsistencies</summary>

[code]
</details>

Notably `dark.css`, `dark.min.css`, `light.css`, and `light.min.css` have the "executable" permission set (`rwxr-xr-x`).

Context:
Build from the `2.0.0` release version, on macOS 11.4 (20F71), with node v16.5.

[2021-08-11 17:15] #78 closed

[2021-08-11 18:46] #228 closed

[2021-08-11 18:51] kognise commented on #253
Closing because this doesn't mean much.

[2021-08-11 18:51] #253 closed

[2021-08-11 18:51] kognise commented on #254
I'll look into it, thanks for the suggestion!

[2021-08-11 18:53] kognise commented on #248
#252 won't load for me for some reason :/

[2021-08-11 18:54] #244 closed

[2021-08-11 18:55] kognise commented on #227
#247 solves this the opposite way, by removing sourcemaps in the built files altogether. This is definitely something that can be discussed separately but for now consistency is preferred I think.

[2021-08-11 18:55] #227 closed

[2021-08-11 19:01] kognise commented on #242
Fixed in 2.1.1, sorry for the delay

[2021-08-11 19:01] #242 closed

[2021-08-11 19:02] kognise commented on #255
That's quite odd, I'll look into. I don't think it matters that much though?

[2021-08-12 07:10] Bradshaw commented on #255
I don't think it matters much at all, at least I haven't run into any issues, I'm just flagging this as an inconsistency that can *potentially* produce unexpected behaviour.

Feel free to label this as `won't fix` and close.

[2021-08-19 12:22] kajal4329 commented on #80
Is the project still up? I would like to work upon it.

[2021-08-19 18:24] HarshitJoshi9152 opened #256 "Theme toggle support for bookmarklet"
I just recently tried the bookmarklet and its felt awesome !
is there any way we can add some way to enable theme toggling when using the bookmarklet on other websites ?
Sorry if this already exists, couldnt find it.

[2021-08-19 18:25] kognise commented on #256
That's a good idea! I'd been hoping for something like that myself - maybe we can inject some sort of button into the page?

[2021-08-19 18:27] HarshitJoshi9152 commented on #256
ya i was thinking about the same thing !
is it okay if i work on this ?

[2021-08-19 18:28] kognise commented on #256
Absolutely! The bookmarklet source code is in `bookmarklet/original.js` and we've been using [this generator](https://mrcoles.com/bookmarklet/) I believe.

[2021-08-19 18:30] HarshitJoshi9152 commented on #256
yup found that, thanks for the lightning fast response :+1:

[2021-08-21 18:42] kognise commented on #80
@kajal4329 sorry, got sent to my spam folder! It is, and feel free to!

[2021-08-21 19:21] #256 closed

[2021-08-23 09:34] kajal4329 commented on #80
@kognise On it.

[2021-08-23 12:19] Ishan2077 commented on #31
Hello everyone! Is this issue still being worked on? If not, I would love to take and solve the issue!

[2021-08-23 15:51] kognise commented on #31
@Ishan2077 Feel free to hop on! Doesn't look like it :)

[2021-08-25 03:32] chacha-chaudhary commented on #233
Would Like to work on this

[2021-08-25 10:24] mohitgoyal1234 commented on #80
is the project still up?

[2021-08-25 10:48] kajal4329 commented on #80
@mohitgoyal1234  yes, it is. I am working on it

[2021-08-25 13:15] kognise commented on #233
I gotta double check the existing PR, I'll ping you if this still isn't solved.

[2021-08-25 14:15] Pedroemanuelavelar commented on #233
okay!

Em qua., 25 de ago. de 2021 às 10:16, Kognise ***@***.***>
escreveu:

[2021-08-28 11:45] ajaykrupalk commented on #80
/claim

[2021-09-22 03:46] ajaykrupalk commented on #233
I actually worked on this and is pull request 259 titled Documentation

[2021-09-28 13:56] LouisDeconinck opened #261 "<q> tag margin"
It seems like not enough margin is added to the q-tag, because I get the following results when putting some inline quotes next to each other:
![qtag](https://user-images.githubusercontent.com/27673665/135101227-afb0294f-cdd5-48a0-8b84-c44b97f362bc.png)

[2021-09-29 18:02] roj1512 opened #262 "The color of selected text"
The color of selected text should have a different variable rather than `--text-bright`.

In my case I want to do this:

In dark mode: background `#222`, text `#eee`, selected text background `#eee`, selected text color `#222.`
In light mode: background `#eee`, text `#222`, selected text background `#222`, selected text color `#eee`.

But `--text-bright` makes a conflict which leads some tags like

[2021-09-30 22:12] whizzbbig commented on #262
I can look into this issue like I can able to integrate sass techniques

[2021-10-01 13:35] rojserbest commented on #262
@rajputarjun2001 I can't assign people to this.

[2021-10-01 18:29] Matheus-Melo commented on #261
I found a solution for this, the margin wouldn't work since the display is inline, so instead I added line height to the <q> tag. It won't overlap the adjacent lines anymore, but every line whithin the tag will have a bigger spacing, making it look weird if the inline quote takes more lines, but in that case an actual block quote would be the best solution anyway.

[2021-10-02 23:43] kognise opened #266 "Development branch"
A development branch would be ideal as a base for merges, as it would mean the docs wouldn't be updated until the new version was published to NPM.

[2021-10-02 23:43] kognise commented on #262
@rajputarjun2001 I'll assign you, lmk if you're not interested anymore

[2021-10-02 23:49] kognise opened #267 "Save bookmarklet theme"
Some way to save the bookmarklet's last selected theme would be great. Reading from prefers-color-scheme might help as well.

[2021-10-23 06:53] iamajmalsaleem opened #273 "Add Menu bar to https://watercss.kognise.dev/#"
Hi! ...
Can I add a menu bar to this page to easily navigate between sections like installation, goals, element demos etc?

[2021-12-01 13:23] u0nel opened #274 "The demo page shows the not minified jsdelivr link"
I think  `<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">`
should be changed to`<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">`

[2021-12-11 02:23] wangtianxing1010 commented on #233
Hi, I am a new github user and trying to help here, but how would I be able to view the code or branch for this issue if anyone has been working on it?

[2021-12-12 04:38] SiddharthShyniben opened #275 "Support for `caption`, `thead`, `tfoot` in tables"
Suggested `caption` style:

[code]

Suggested `thead`/`tfoot` style:

[code]

[2021-12-22 22:25] adamerose opened #276 "Highlight forms inputs in red when they're invalid (eg. blank required field)"
I think this would be a great addition. It would require a new CSS color variable like `--danger`, and would target the selector `:invalid:not(form)`

`holiday.css` does this, here's an example: https://holidaycss.js.org/kitchen-sink/#form

![image](https://user-images.githubusercontent.com/10884874/147161327-1c5beeaa-4240-4cc2-92da-8f43db1157bb.png)

Let me know if this change would be acceptable

[2021-12-23 03:57] adamerose opened #278 "Change radio button outline on :focus from square to circle"
Ideally this teal border should be circular:
![image](https://user-images.githubusercontent.com/10884874/147185083-2d938aa3-d586-4be4-8c9c-13860e9e2c88.png)

It looks to me like water.css is using a `box-shadow` in place of `outline` for the focus styling like described [here](https://stackoverflow.com/a/6810937/3620725), but this doesn't seem to work on [radio buttons](http://jsfiddle.net/xj81pos

[2021-12-24 20:02] rerfan24 commented on #278
why don't you use
[code]
would'nt it work?

[2021-12-24 20:07] adamerose commented on #278
@rerfan24 `border-radius` doesn't work on box shadows, which is what water.css uses for the blue outline. If you inspect the radio button on the water.css demo page you can see it already does have this style but is not rounded:
[code]

The 2nd link in the OP is a jsfiddle showing this too

[2022-01-11 09:31] shagungarg0 commented on #278
can i work on this issue??

[2022-01-11 09:31] shagungarg0 commented on #276
can i work on this issue??

[2022-01-11 09:37] shagungarg0 opened #279 "adding some creative background to https://watercss.kognise.dev/"
can i add some background to the site..as it would look interesting after that??

[2022-01-12 13:16] ashutoshdhande commented on #279
Can you please describe what is required just a responsive background with slight effects or some animations?

[2022-01-13 14:46] u0nel commented on #278
![image](https://user-images.githubusercontent.com/46542757/149351531-f550ce52-9d66-4216-8e13-73fcb8aa5cd1.png)

It works with Firefox on Linux

[2022-01-15 20:42] adamerose commented on #278
It's round for me too on Windows Firefox. It's square on Chrome and Edge

[2022-01-17 09:38] ghost commented on #279
The site is meant to be a demo page

[2022-01-18 06:58] Rishabh32700 commented on #31
hey i want to take this issue, can you please assign it to me

[2022-01-18 07:00] Rishabh32700 commented on #31
hey is this issue still open? if yes, then i wanna take this

[2022-01-19 17:13] kognise commented on #279
Yeah, I'm not a sure a creative background is a great idea. I do want to redesign a large portion of Water.css though and release a major v3.

[2022-01-19 17:13] kognise commented on #278
That's super weird, if anyone wants to make a PR I'll merge ASAP. Otherwise I can try to find time and fix this myself.

[2022-01-20 21:31] #248 closed

[2022-01-20 21:32] #279 closed, assigned to nobody

[2022-01-20 21:43] kognise commented on #278
Did some snooping around - I have absolutely no idea how to fix this. Gonna consider bring fully custom checkboxes back in a major 3.0 release.

[2022-01-20 21:49] kognise opened #280 "Incorrect preloads?"
Getting warnings in Chrome.

[2022-01-20 21:54] #245 closed

[2022-01-20 21:59] kognise commented on #261
Ended up just fixing this by *removing* Water.css quote styles, leaving the default browser double quotes which are more than enough.

[2022-01-20 21:59] #261 closed

[2022-01-21 04:43] smackia commented on #31
Hey, I want to contribute. is there any issue present?

[2022-01-21 04:45] kognise commented on #31
@smackia Do you think you could you take a look at #258 and figure out why it's being weird in some browsers?

[2022-01-21 18:45] kognise opened #281 "Redesign spacing, colors, more (3.0.0)"
@kognise

Note: also fix variable color contrast

[2022-01-21 19:17] kognise commented on #80
Made progress on this in a50c8a01ee85a6ab94db661271b59aee90c6248a, more can be done however.

[2022-01-21 20:56] umitseyhan75 opened #282 "Repeating scrollbar dark scheme queries"
Hello, why there are more than one exactly same media queries for dark scrollbar?
![resim](https://user-images.githubusercontent.com/43583375/150598942-6c354661-cd48-4221-bf04-463fbaca29d0.png)

[2022-01-21 23:24] kognise commented on #282
That's really weird! I have absolutely no idea why this is happening. Would be great if anyone else wants to take a look, otherwise I'll get to it after some other changes.

[2022-01-22 17:38] kognise opened #283 "Packages are extremely outdated"

[2022-01-22 17:45] kognise commented on #274
Fixed in 3decb54.

[2022-01-22 17:45] #274 closed, assigned to kognise

[2022-01-22 17:46] #280 closed, assigned to kognise

[2022-01-22 17:58] kognise commented on #233
Caniuse links+warnings added to the documentation.

[2022-01-22 17:58] #233 closed

[2022-01-22 18:02] kognise commented on #262
I added `--selection-foreground` in the development branch, the naming may change before the big release but I believe this is what was suggested.

[2022-01-22 18:02] #262 closed

[2022-01-22 18:03] rojvv commented on #262
Thanks!

[2022-01-22 18:07] kognise commented on #276
I was experimenting with this. I'm not sure it's a great idea - it leads many form fields to be red before the user has even touched them, which often isn't desired behavior and is bad for UX imo. What are your thoughts?

[2022-01-22 18:09] #267 closed

[2022-01-22 18:46] #283 closed, assigned to kognise

[2022-01-22 18:58] kognise commented on #237
Added as a breaking change for 3.0.0.

[2022-01-22 18:58] #237 closed

[2022-01-22 19:05] kognise commented on #275
Added caption styles for 3.0.0.

[2022-01-22 19:05] #275 closed, assigned to nobody

[2022-01-22 21:08] adamerose commented on #276
On second thought I completely agree with you. It seemed like a neat addition when I saw it but I do think inputs should only appear red after interaction or submission... which would probably require JS and doesn't seem within the scope of water.css. Maybe if css eventually supports a selector indicating whether an input has been touched or modified, then this could be revisited.

[2022-01-22 21:08] #276 closed, assigned to nobody

[2022-01-27 07:27] RoChernikov opened #284 "Hey! I'd love to contribute. (multi-lingual readme)"
Hi everyone,

As per title, I'd love to contribute and help with any issues or tasks.
I'm kinda new to opensource, this is my very first time. I just liked this project and I want to participate.
I am studying web technologies (Yandex.Practicum student) and I decided to participate in opensource, this is the best practice for me.

I'm comfortable with HTML, CSS, Javascript and have a basic underst

[2022-01-28 12:27] RoChernikov opened #288 "Hover-effect on disabled buttons"
Hi,

I think it'd be nice to remove hover-effect from disabled buttons.

Can I take this task?

[2022-01-28 13:06] RoChernikov opened #291 "Push-animation on disabled buttons"
Hi,

I think it'd be nice to remove push-animation from disabled buttons.

[2022-02-02 16:09] cyrus-and opened #294 "The background of the textarea grabber (-webkit-resizer) changes when the scroll bar appears"
That's basically it, reproduced in Chrome and Safari (both light and dark themes), does not happen in Firefox.

<img width="810" alt="Screenshot 2022-02-02 at 3 55 33 PM" src="https://user-images.githubusercontent.com/1660263/152178293-9f0f3430-c3e5-45b2-9c37-a6f9375c871e.png">

<img width="810" alt="Screenshot 2022-02-02 at 3 55 13 PM" src="https://user-images.githubusercontent.com/1660263/152178

[2022-02-11 16:09] pm-patel12 commented on #294
Can you explain it bit more.

[2022-02-11 16:34] cyrus-and commented on #294
@pm-patel12 see the screenshots and notice how the resize handler in the bottom right corner changes color according to the presence of the scrollbar. Are you able to reproduce it?

[2022-02-12 20:56] gitlerat opened #296 "feedback"
Hi, I think its not recommended using px so much, most times specially fonts it is recommended to use rem.
Also please consider adding some modality on the css file like https://classless.de/ is doing. Also some things classless does is really top, maybe you can have  look :)

[2022-02-16 13:54] pm-patel12 commented on #294
Ohh , i got it you wann to chage color of resize handler whan scroll bar appears , right ?

[2022-02-16 13:57] cyrus-and commented on #294
No actually I think the expected behaviour is to not change the background at all, namely, the resize handler in the bottom screenshot should be the same as the top one.

[2022-02-16 14:01] pm-patel12 commented on #294
ohh , your mean whan scroll bar appears than resize handler should be same as before , right ?

[2022-02-16 14:01] pm-patel12 commented on #294
s

[2022-02-16 14:03] cyrus-and commented on #294
Precisely. :)

[2022-02-16 14:31] pm-patel12 commented on #294
yep got it , i can do it. Check out screen shot below
and tell me if there is any Changes
.
Before
![Before-](https://user-images.githubusercontent.com/83482652/154290727-95549311-beb9-46a0-bb7d-457a08664ff3.PNG)

.
After
![After-](https://user-images.githubusercontent.com/83482652/154290673-b095eec1-ceb0-4f65-8a23-0c8774b97254.PNG)

[2022-02-16 14:55] pm-patel12 commented on #294
Now chack it i Have make same as you say sir , can i make pull request ?

[2022-02-16 15:40] cyrus-and commented on #294
I don't see the bug in your screenshots, but that doesn't look like to be the Water.css style either...

I'm not the owner of this repo.

[2022-02-24 18:00] viroopaksh-utrayak commented on #288
can i do??

[2022-05-07 17:54] LoganDark commented on #296
Absolutely, `rem` is the way to go now, there's a reason Tailwind CSS is built entirely on the `0.25rem` scale.

[2022-05-08 19:15] jimmywarting opened #297 "Some neat sidebar with `<aside>`"
i wish to have a lefthand sidebar with the `<aside>` element, is that something achievable water.css could provide?

an idea to get it on the right side is just to say that it comes after

- On the left
[code]
- Both left & right
[code]
- On the right
[code]

[2022-05-09 22:51] bumpylumps commented on #182
What kind of support are you looking for with the <nav>?

[2022-05-09 22:52] bumpylumps commented on #182
What kind of support are you looking for for the nav?

[2022-05-13 02:39] asrvd commented on #278
can't we just remove the shadow, it's not like it's something very important.

[2022-05-14 06:26] adamerose commented on #278
Having a visual indicator that an item is focussed is important for users who use the tab key to cycle through inputs instead of using a mouse.

[2022-05-14 07:33] asrvd commented on #278
It's quite easy to distinguish between a focused radio button and non focused one without an outline too.

[2022-05-15 13:07] u0nel commented on #278
how? checked is not the same as focused.

[2022-06-05 17:05] rahulkarda opened #298 "Add support for video/audio tag"
I would like to work on this issue. I've started working on it a little.

[2022-06-06 14:31] jimmywarting opened #299 "Format Definition List vertical"
Following up on this article on how to format a [Definition List](https://www.the-art-of-web.com/css/format-dl/) and some other stackoverflow suggestions... I found this to be pretty nice: https://jsbin.com/kuyawicuno/2/edit?html,css,output

Thinking maybe that you should incorporate it to the default style

[2022-06-06 20:51] jimmywarting opened #300 "make use of `color-scheme: dark;`"
Many native controllers like checkboxes and eg the small date icon on `input[type=datetime-local]` have quite a bad contrast when using the prefer dark mode.

that is b/c it still renders dose native controllers as light theme.
i think this should be added:
[code]
by using this ☝️ then i don't think you really have to go for all the trouble of styling native buttons and input that much...

the nat

[2022-06-08 17:36] xarrijorge commented on #288
Is this still opened?

[2022-07-03 10:19] Harsh-Shedge commented on #291
Hi, can I work on this issue?

[2022-07-13 16:48] ghost commented on #80
@kognise @kylejrp is this issue still open. I would like to contribute. also Tips and guidelines from people already working are appreciated.

[2022-07-27 20:12] Harsh3363 commented on #300
Assign this to me

[2022-08-07 15:09] soumalya20010 commented on #288
I would like to take this task

[2022-08-16 09:59] DudhaneShrey86 commented on #294
Hello everyone! Is this issue still open?
I tweaked the styles of _-webkit-resizer_ and _-webkit-scrollbar-corner_ a bit, and these are the results

**Empty Textarea - Light**
![empty_light](https://user-images.githubusercontent.com/47911121/184851578-2837e52b-830e-4d41-934a-427655e7b479.png)

**Empty Textarea - Dark**
![empty_dark](https://user-images.githubusercontent.com/47911121/184851743-eca1

[2022-08-18 05:38] mananbansal2002 opened #303 "Missing Header"
I think there should be a proper header section in the website. The website name and its information are not very UX friendly and needs to be highlighted using CSS.

[2022-08-29 15:40] trishit78 commented on #80
Hello, is this project still open?? if yes ,I would love to work on this, and see if I can contribute to the project.
I am a first timer to contribute in open source...

[2022-08-29 15:57] ajaykrupalk commented on #80
Hey. The above issue has been closed.

[2022-09-21 07:41] skat210 commented on #291
Hello, This seems interesting to provide animations on disabled buttons. I would really like to work on this.!!!

[2022-09-21 07:44] skat210 commented on #288
This is an interesting task and would like to complete

[2022-09-21 07:58] saarashetye1234 commented on #288
Hello,im interested in taking up this task

[2022-09-23 04:03] erickrod54 commented on #303
Hello @mananbansal2002, is still open this issue ?, i would like to make a nice UX friendly proper header section in the website, can you asign it to me ?

[2022-09-25 06:27] Nandanipatel commented on #288
I would like to work on this issue

[2022-09-26 14:20] BhumikaJena commented on #288
I would like to take this task

[2022-09-26 16:31] Kamveno commented on #303
hi @mananbansal2002   i would like to contribute to the issue

[2022-09-26 16:32] Kamveno commented on #298
hi @rahulkarda  i would like to contribute to the issue

[2022-10-01 06:27] RiteshMohan186 commented on #288
I would like to work on this issue, please!

[2022-10-01 12:36] Palendra123 commented on #31
hey is this issue still open? if yes, I'm open to work.

[2022-10-01 12:50] EktaEngineer commented on #298
I would like to work on this issue. I've started working on it a little.

[2022-10-01 12:50] EktaEngineer commented on #298
I would like to work on this issue. Can I too contribute a Littlein this project

[2022-10-01 12:51] EktaEngineer commented on #298
I would like to work on this issue. Can I too contribute a little to  this project

[2022-10-01 14:45] kkartik07 commented on #288
Hi @RoChernikov can you provide me with some information regarding the issue. Please provide some references.
Thanks.

[2022-10-03 19:05] Riddhi12349 commented on #288
hey !! Please assign me this issue

[2022-10-03 19:13] Riddhi12349 commented on #273
hii , Can you please assign me this issue.

[2022-10-04 05:33] pranathnaik commented on #303
hi @mananbansal2002 would like to contribute to the issue

[2022-10-04 07:35] iamajmalsaleem opened #308 "Add menu bar"
hii , Can you please assign me this issue.

_Originally posted by @riddhitech in https://github.com/kognise/water.css/issues/273#issuecomment-1265910110_

[2022-10-04 07:36] #308 closed, assigned to nobody

[2022-10-04 07:37] iamajmalsaleem commented on #273
how to?

[2022-10-08 05:55] developerpra commented on #182
assign to me.

[2022-10-08 06:47] developerpra commented on #303
Hello there, Assign this issue to me

[2022-10-08 08:29] Junaid20001 commented on #182
can you assign this project to me

[2022-10-08 15:16] deepbeatz commented on #303
@mananbansal2002 please assign me this issue. I want to start working on it immediately.

[2022-10-08 15:17] ritwick096 commented on #303
Hello @mananbansal2002 please assign this issue to me. I shall start working on it immediately.

[2022-10-08 15:18] ritwick096 commented on #300
Hello @jimmywarting please assign this issue to me. I shall start working on it immediately.

[2022-10-08 15:19] ritwick096 commented on #297
Hello @jimmywarting please assign this issue to me. I shall start working on it immediately.

[2022-10-08 15:19] deepbeatz commented on #299
please assign me this issue. I want to start working on it immediately.

[2022-10-08 15:19] deepbeatz commented on #300
please assign me this issue. I want to start working on it immediately.

[2022-10-08 15:20] deepbeatz commented on #298
@rahulkarda please assign me this issue. I want to start working on it immediately.

[2022-10-08 15:20] ritwick096 commented on #254
Hello @sapatgit please assign this issue to me. I shall start working on it immediately.

[2022-10-08 15:20] deepbeatz commented on #296
@gitlerat please assign me this issue. I want to start working on it immediately.

[2022-10-08 15:21] deepbeatz commented on #291
@RoChernikov please assign me this issue. I want to start working on it immediately.

[2022-10-08 15:21] deepbeatz commented on #288
@RoChernikov please assign me this issue. I want to start working on it immediately.

[2022-10-08 15:22] deepbeatz commented on #282
@umitseyhan75 please assign me this issue. I want to start working on it immediately.

[2022-10-08 16:58] rahulkarda commented on #298
I'm not the owner of the project.

[2022-10-08 17:06] jimmywarting commented on #300
I can't assign someone, just make a PR you guys!

[2022-10-09 09:06] gitlerat commented on #296
I think I have no write access on this repo because I cant assign the issue to you :/

[2022-10-10 16:32] TannisthaBiswas commented on #303
Since this issue is open still, I'd love to work on it. I'd work on it immediately making it more user friendly with an informative yet engaging.

[2022-10-11 13:22] hunted-Rising opened #309 "Redesign the back to top."
I'd like to redesign the back to top link or button, instead of it using an arrow in square, I can make it circular and also create a toolTip that says what it does instead of having the text beside.
I can also create an animation that draws the attention of the user to the button.
I believe this would make it more pleasing to the eyes of user.

[2022-10-12 07:22] SUJAL8 commented on #278
Please assign this issue to me.

[2022-10-14 17:59] manjeetgautam commented on #31
i wanna work on this issue Support for <meter>, <progress> please tell me is it still open?

[2022-10-14 18:12] MaYaNkKashyap681 commented on #309
I want to work on this issue. Can you please assign this to me?

[2022-10-14 19:14] afk-ankit commented on #309
I can work on this issue and fix it .

[2022-10-14 20:02] HimanshuTembhe commented on #288
@RoChernikov can i work on this task under hacktoberfest label pls ?

[2022-10-14 20:08] muhammadrehab1245 commented on #303
@kognise  please assigned this to me i will do it

[2022-10-15 07:17] hunted-Rising commented on #309
I was the one that raised the issue, so I will do it.

[2022-10-15 07:19] afk-ankit commented on #309
@Ericchuk  I am new to open source can we do it together? I will learn new things from that

[2022-10-15 07:35] hunted-Rising commented on #309
Alright do it.

[2022-10-15 08:44] tejask1730 commented on #309
@Ericchuk can i do this task
 i am final engineer student and had a task of working on open source so can you assign it

[2022-10-18 09:50] SrushtiRaut commented on #300
I would like to work on this issue. Seems interesting!!!

[2022-10-18 18:31] SrushtiRaut commented on #291
Hello, This seems interesting to provide animations on disabled buttons. I would really like to work on this.!!!

[2022-10-19 14:24] RishikaKant commented on #303
Hello, please assign this to me

[2022-10-19 14:24] RishikaKant commented on #309
Hello, please assign it to me

[2022-10-19 14:25] RishikaKant commented on #31
Hello, please assign this issue to me if it's open

[2022-10-24 21:22] lunarfusion commented on #278
@kognise  See if my solution works for you. https://github.com/kognise/water.css/pull/316

[2022-10-28 18:18] Kritika30032002 commented on #309
May I contribute to this?

[2022-10-30 12:28] nishtha53 opened #320 "Missing footer"
We can add footer to this website just let me know what content is required I can work on this issue.

[2022-11-02 09:47] adi7yashah commented on #300
I am working on this please assign this to me.

[2022-11-16 11:33] yash-0501 commented on #31
Hi @kognise, is this issue still open?
If yes, I'd like to work on this.

[2022-11-18 05:34] M1racle04 commented on #320
Hey, Can I work on this issue?